@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.advantages-list {
	@include minimum-size(margin-top, 3.8rem, 11.875vw);
}

.advantages-list__item {
	display: grid;
	grid-template-columns: minmax(3.6rem, 11.25vw) auto;
	@include minimum-size(column-gap, 1.2rem, 3.75vw);
	position: relative;
}

.advantages-list__leaf-icon-wrapper {
	grid-column: 1 / 2;
	@extend %icon-circle;
	position: absolute;
	top: 0;
	left: 0;
}

.advantages-list__leaf-icon {
	@include minimum-size(width, 1.9rem, 5.9375vw);
	@include minimum-size(height, 1.5rem, 4.6875vw);
	color: var(--color-accent-jade-green);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.advantages-list__checkmark-icon-wrapper {
	grid-column: 1 / 2;
	@extend %icon-circle;
	position: absolute;
	top: 0;
	left: 0;
}

.advantages-list__checkmark-icon {
	@include minimum-size(width, 1.9rem, 5.9375vw);
	@include minimum-size(height, 1.9rem, 5.9375vw);
	color: var(--color-accent-jade-green);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.advantages-list__arrow-icon-wrapper {
	grid-column: 1 / 2;
	@extend %icon-circle;
	position: absolute;
	top: 0;
	left: 0;
}

.advantages-list__arrow-icon {
	@include minimum-size(width, 1.9rem, 5.9375vw);
	@include minimum-size(height, 1.8rem, 5.625vw);
	color: var(--color-accent-jade-green);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.advantages-list__heart-icon-wrapper {
	grid-column: 1 / 2;
	@extend %icon-circle;
	position: absolute;
	top: 0;
	left: 0;
}

.advantages-list__heart-icon {
	@include minimum-size(width, 1.9rem, 5.9375vw);
	@include minimum-size(height, 1.9rem, 5.9375vw);
	color: var(--color-accent-jade-green);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.advantages-list__advantage-name {
	grid-column: 2 / -1;
	@include minimum-size(margin-bottom, 0.5rem, 1.5625vw);
}

.advantages-list__advantage-description {
	grid-column: 2 / -1;
}

@include media(">=tablet") {
	.advantages-list {
		@include minimum-size(margin-top, 8.5rem, 11.067708333333332vw);
	}

	.advantages-list__item {
		grid-template-columns: minmax(6rem, 7.8125vw) auto;
		@include minimum-size(column-gap, 2.1rem, 2.734375vw);
	}

	.advantages-list__leaf-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__leaf-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__checkmark-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__checkmark-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__arrow-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__arrow-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__heart-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__heart-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__advantage-name {
		@include minimum-size(margin-bottom, 1.1rem, 1.4322916666666665vw);
	}
}

@include media(">=desktop") {
	.advantages-list {
		@include minimum-size(margin-top, 0); // FIX
	}

	.advantages-list__item {
		grid-template-columns: minmax(6rem, 7.8125vw) auto;
		@include minimum-size(column-gap, 2.1rem, 2.734375vw);
	}

	.advantages-list__leaf-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__leaf-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__checkmark-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__checkmark-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__arrow-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__arrow-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__heart-icon-wrapper {
		@include minimum-size(width, 6rem, 7.8125vw);
		@include minimum-size(height, 6rem, 7.8125vw);
	}

	.advantages-list__heart-icon {
		@include minimum-size(width, 3rem, 3.90625vw);
		@include minimum-size(height, 3rem, 3.90625vw);
	}

	.advantages-list__advantage-name {
		@include minimum-size(margin-bottom, 1.1rem, 1.4322916666666665vw);
	}
}
