@use "../vendors/include-media" as *;
@use "../abstracts/mixins" as *;

// Fix leafs on mobile version

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1920px
);

.animated-dropping-leafs {
}

.animated-dropping-leafs__animated-leaf-wrapper {
}

.animated-dropping-leafs__animated-leaf {
}

.animated-dropping-leafs--size--desktop {
	display: none;
}

.animated-dropping-leafs--size--tablet {
	display: none;
}

.animated-dropping-leafs--size--mobile {
	display: block;
}

.animated-dropping-leafs--size--mobile {
	position: absolute;
	top: 0;
	left: 0;

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(1) {
		position: absolute;
		@include minimum-size(top, 2rem, 6.25vw);
		@include minimum-size(left, 28rem, 87.5vw);

		.animated-dropping-leafs__animated-leaf {
			@include minimum-size(height, 4.975rem, 15.546874999999998vw);
			@include minimum-size(width, 3.906rem, 12.20625vw);
			object-fit: cover;
		}
	}

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(2) {
		position: absolute;
		@include minimum-size(top, 26rem, 81.25vw);
		@include minimum-size(left, 27rem, 84.375vw);

		.animated-dropping-leafs__animated-leaf {
			@include minimum-size(height, 3.84rem, 12vw);
			@include minimum-size(width, 3.15rem, 9.84375vw);
			object-fit: cover;
		}
	}

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(3) {
		position: absolute;
		@include minimum-size(top, 26rem, 81.25vw);
		@include minimum-size(left, -3rem, -9.375vw);

		.animated-dropping-leafs__animated-leaf {
			@include minimum-size(height, 5.68rem, 17.75vw);
			@include minimum-size(width, 7.235rem, 22.609375vw);
			object-fit: cover;
		}
	}
}

@include media(">=tablet") {
	.animated-dropping-leafs--size--desktop {
		display: none;
	}

	.animated-dropping-leafs--size--tablet {
		display: block;
	}

	.animated-dropping-leafs--size--mobile {
		display: none;
	}
}

@include media(">=desktop") {
	.animated-dropping-leafs--size--desktop {
		display: block;
	}

	.animated-dropping-leafs--size--tablet {
		display: none;
	}

	.animated-dropping-leafs--size--mobile {
		display: none;
	}
}
