@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1920px
);

.animated-dropping-leafs {
}

.animated-dropping-leafs__animated-leaf-wrapper {
}

.animated-dropping-leafs__animated-leaf {
}

.animated-dropping-leafs--size--desktop {
	display: none;
}

.animated-dropping-leafs--size--tablet {
	display: none;
}

.animated-dropping-leafs--size--mobile {
	display: block;
}

.animated-dropping-leafs--size--mobile {
	position: absolute;
	top: 0;
	left: 0;

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(1) {
		position: absolute;
		top: max(20px, 6.25vw);
		left: max(280px, 87.5vw);

		.animated-dropping-leafs__animated-leaf {
			height: max(4.975rem, 15.546874999999998vw);
			width: max(3.906rem, 12.20625vw);
			object-fit: cover;
		}
	}

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(2) {
		position: absolute;
		top: max(260px, 81.25vw);
		left: max(270px, 84.375vw);

		.animated-dropping-leafs__animated-leaf {
			height: max(3.84rem, 12vw);
			width: max(3.15rem, 9.84375vw);
			object-fit: cover;
		}
	}

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(3) {
		position: absolute;
		top: max(260px, 81.25vw);
		left: max(-30px, -9.375vw);

		.animated-dropping-leafs__animated-leaf {
			height: max(5.68rem, 17.75vw);
			width: max(7.235rem, 22.609375vw);
			object-fit: cover;
		}
	}
}

@include media(">=tablet") {
	.animated-dropping-leafs--size--desktop {
		display: none;
	}

	.animated-dropping-leafs--size--tablet {
		display: block;
	}

	.animated-dropping-leafs--size--mobile {
		display: none;
	}
}

@include media(">=desktop") {
	.animated-dropping-leafs--size--desktop {
		display: block;
	}

	.animated-dropping-leafs--size--tablet {
		display: none;
	}

	.animated-dropping-leafs--size--mobile {
		display: none;
	}
}
