@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.button {
	background-color: var(--color-accent-jade-green);
	@include minimum-size(width, 24.5rem, 76.5625vw);
	@include minimum-size(min-height, 6.7rem, 20.9375vw);
	position: relative;
	cursor: pointer;
	border: 0.15625vw solid var(--color-primary-white);
	border-radius: 20.3125vw;
	border-width: 1.5625vw;
	box-shadow: 0 0 0 0.1rem var(--color-neutral-cyan-cornflower-blue);
	word-wrap: break-word;
	outline: 0;
	@include center-block;
	overflow: hidden;
	z-index: 350;

	&:hover,
	&:focus {
		background-color: var(--color-primary-white);
		border-color: var(--color-accent-jade-green);
		box-shadow: none;

		.button__text {
			color: var(--color-accent-jade-green);
		}

		.button__arrow-icon-wrapper {
			background-color: var(--color-accent-hover-medium-aquamarine);
		}

		.spinner__image {
			color: #28af60;
		}
	}

	&:active {
		opacity: 0.8;
	}
}

.button__text {
	@include flex(flex-start, flex-start, row);
	@include minimum-size(padding-left, 4.2rem, 13.125vw);
}

.button__arrow-icon-wrapper {
	position: absolute;
	top: 50%;
	@include minimum-size(right, 0.7rem, 2.1875vw);
	transform: translateY(-50%);
	@include minimum-size(width, 4.3rem, 13.4375vw);
	@include minimum-size(height, 4.3rem, 13.4375vw);
	border-radius: 50%;
	background-color: var(--color-accent-medium-sea-green);
	@include flex(center, center, column);
}

.button__arrow-icon {
	display: block;
	@include minimum-size(width, 2.1rem, 6.5625vw);
	@include minimum-size(height, 1.4rem, 4.375vw);
	color: var(--color-primary-white);
	fill: none;
}

@include media(">=tablet") {
	.button {
		@include minimum-size(width, 24.5rem, 31.901041666666668vw);
		@include minimum-size(min-height, 6.7rem, 8.723958333333332vw);
		border: 0.06510416666666666vw solid var(--color-primary-white);
		border-radius: 8.463541666666668vw;
		border-width: 0.6510416666666667vw;
	}

	.button__text {
		@include minimum-size(padding-left, 4.2rem, 5.46875vw);
	}

	.button__arrow-icon-wrapper {
		@include minimum-size(right, 0.7rem, 0.9114583333333334vw);
		@include minimum-size(width, 4.3rem, 5.598958333333334vw);
		@include minimum-size(height, 4.3rem, 5.598958333333334vw);
	}

	.button__arrow-icon {
		display: block;
		@include minimum-size(width, 2.1rem, 2.734375vw);
		@include minimum-size(height, 1.4rem, 1.8229166666666667vw);
	}
}

@include media(">=desktop") {
	.button {
		@include minimum-size(width, 12.760416666666666vw);
		@include minimum-size(min-height, 3.4895833333333335vw);
		border: 0.026041666666666668vw solid var(--color-primary-white);
		border-radius: 3.3854166666666665vw;
		border-width: 0.26041666666666663vw;
	}

	.button__text {
		@include minimum-size(padding-left, 2.1875vw);
	}

	.button__arrow-icon-wrapper {
		@include minimum-size(right, 0.3645833333333333vw);
		@include minimum-size(width, 2.2395833333333335vw);
		@include minimum-size(height, 2.2395833333333335vw);
	}

	.button__arrow-icon {
		display: block;
		@include minimum-size(width, 1.09375vw);
		@include minimum-size(height, 0.7291666666666666vw);
	}
}
