@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.image-gallery {
	@include minimum-size(padding-top, 4.2rem, 13.125vw);
	z-index: 2;
}

.image-gallery__content {
	position: relative;
	width: 100vw;
	@include minimum-size(min-height, 32.2rem, 100.62500000000001vw);
}

.image-gallery__image1-wrapper {
	@include minimum-size(width, 20.239rem, 63.24687499999999vw);
	@include minimum-size(height, 17.254rem, 53.918749999999996vw);
}

.image-gallery__image1 {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
	position: absolute;
	top: 0;
	@include minimum-size(left, -10.5rem, -32.8125vw);
	z-index: 1;
}

.image-gallery__image2-wrapper {
	@include minimum-size(width, 17.099rem, 53.434375vw);
	@include minimum-size(height, 14.578rem, 45.55625vw);
}

.image-gallery__image2 {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
	position: absolute;
	@include minimum-size(top, 1.35rem, 4.21875vw);
	@include minimum-size(left, 11.7rem, 36.5625vw);
	z-index: 1;
}

.image-gallery__image3-wrapper {
	@include minimum-size(width, 12.562rem, 39.25625vw);
	@include minimum-size(height, 10.74rem, 33.5625vw);
}

.image-gallery__image3 {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
	position: absolute;
	@include minimum-size(top, 11.9rem, 37.1875vw);
	@include minimum-size(left, 3.7rem, 11.5625vw);
	z-index: 2;
}

.image-gallery__image4-wrapper {
	@include minimum-size(width, 21.441rem, 67.003125vw);
	@include minimum-size(height, 18.3rem, 57.1875vw);
}

.image-gallery__image4 {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
	position: absolute;
	@include minimum-size(top, 10.2rem, 31.874999999999996vw);
	@include minimum-size(left, 23.1rem, 72.1875vw);
	z-index: 2;
}

.image-gallery__image5-wrapper {
	@include minimum-size(width, 15.431rem, 48.221875000000004vw);
	@include minimum-size(height, 13.144rem, 41.075vw);
}

.image-gallery__image5 {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
	position: absolute;
	@include minimum-size(top, 1.9rem, 59.375vw);
	@include minimum-size(left, -4.1rem, -12.812499999999998vw);
	z-index: 1;
}

.image-gallery__image6-wrapper {
	@include minimum-size(width, 13.338rem, 41.68125vw);
	@include minimum-size(height, 11.36rem, 35.5vw);
}

.image-gallery__image6 {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 1rem;
	box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
	position: absolute;
	@include minimum-size(top, 20.8rem, 65vw);
	@include minimum-size(left, 19.1rem, 59.68750000000001vw);
	z-index: 2;
}

.image-gallery__image7-wrapper {
}

.image-gallery__image7 {
	display: none;
}

.image-gallery__image8-wrapper {
}

.image-gallery__image8 {
	display: none;
}

.image-gallery__image9-wrapper {
}

.image-gallery__image9 {
	display: none;
}

@include media(">=tablet") {
	.image-gallery {
		@include minimum-size(padding-top, 8.4rem, 10.9375vw);
	}

	.image-gallery__content {
		width: 100vw;
		@include minimum-size(min-height, 55rem, 71.61458333333334vw);
	}

	.image-gallery__image1-wrapper {
		@include minimum-size(width, 31.68rem, 41.25vw);
		@include minimum-size(height, 27.007rem, 35.16536458333333vw);
	}

	.image-gallery__image1 {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		top: 0;
		@include minimum-size(left, -15rem, -19.53125vw);
		z-index: 1;
	}

	.image-gallery__image2-wrapper {
		@include minimum-size(width, 26.764rem, 34.84895833333333vw);
		@include minimum-size(height, 22.819rem, 29.712239583333332vw);
	}

	.image-gallery__image2 {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		@include minimum-size(top, 2rem, 2.604166666666667vw);
		@include minimum-size(left, 19rem, 24.739583333333336vw);
		z-index: 1;
	}

	.image-gallery__image3-wrapper {
		@include minimum-size(width, 31.68rem, 41.25vw);
		@include minimum-size(height, 20.513rem, 26.709635416666664vw);
	}

	.image-gallery__image3 {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		@include minimum-size(top, 1.5rem, 1.953125vw);
		@include minimum-size(left, 65rem, 84.63541666666666vw);
		z-index: 2;
	}

	.image-gallery__image4-wrapper {
		@include minimum-size(width, 16.872rem, 21.96875vw);
		@include minimum-size(height, 14.383rem, 18.727864583333336vw);
	}

	.image-gallery__image4 {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		@include minimum-size(top, 12rem, 15.625vw);
		@include minimum-size(left, 58.5rem, 76.171875vw);
		z-index: 4;
	}

	.image-gallery__image5-wrapper {
		@include minimum-size(width, 19.663rem, 25.602864583333336vw);
		@include minimum-size(height, 16.811rem, 21.889322916666668vw);
	}

	.image-gallery__image5 {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		@include minimum-size(top, 18.5rem, 24.088541666666664vw);
		@include minimum-size(left, 6rem, 7.8125vw);
		z-index: 4;
	}

	.image-gallery__image6-wrapper {
		@include minimum-size(width, 33.561rem, 43.69921875vw);
		@include minimum-size(height, 28.645rem, 37.298177083333336vw);
	}

	.image-gallery__image6 {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		@include minimum-size(top, 16rem, 20.833333333333336vw);
		@include minimum-size(left, 36rem, 46.875vw);
		z-index: 2;
	}

	.image-gallery__image7-wrapper {
		@include minimum-size(width, 24.154rem, 31.450520833333336vw);
		@include minimum-size(height, 20.574rem, 26.7890625vw);
	}

	.image-gallery__image7 {
		display: block;
		width: inherit;
		height: inherit;
		object-fit: cover;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		top: 0;
		@include minimum-size(top, 30rem, 39.0625vw);
		@include minimum-size(left, -6rem, -7.8125vw);
		z-index: 3;
	}

	.image-gallery__image8-wrapper {
		@include minimum-size(width, 20.877rem, 27.18359375vw);
		@include minimum-size(height, 17.782rem, 23.153645833333332vw);
	}

	.image-gallery__image8 {
		display: block;
		width: inherit;
		height: inherit;
		object-fit: cover;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		top: 0;
		@include minimum-size(top, 32rem, 41.66666666666667vw);
		@include minimum-size(left, 30.5rem, 39.71354166666667vw);
		z-index: 3;
	}

	.image-gallery__image9-wrapper {
		@include minimum-size(width, 31.68rem, 41.25vw);
		@include minimum-size(height, 27.007rem, 35.16536458333333vw);
	}

	.image-gallery__image9 {
		display: block;
		width: inherit;
		height: inherit;
		object-fit: cover;
		border-radius: 1rem;
		box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		position: absolute;
		top: 0;
		@include minimum-size(top, 28rem, 36.45833333333333vw);
		@include minimum-size(left, 62rem, 80.72916666666666vw);
		z-index: 1;
	}
}

@include media(">=desktop") {
	.image-gallery {
		@include minimum-size(padding-top, 5.520833333333333vw);
	}

	.image-gallery__content {
		// width: 100vw;
		@include minimum-size(min-height, 47.1875vw);
	}

	.image-gallery__image1-wrapper {
		@include minimum-size(width, 27.187499999999996vw);
		@include minimum-size(height, 23.177083333333336vw);
	}

	.image-gallery__image1 {
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// vertical-align: middle;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		top: 0;
		@include minimum-size(left, 3.28125vw);
		z-index: 1;
	}

	.image-gallery__image2-wrapper {
		@include minimum-size(width, 22.96875vw);
		@include minimum-size(height, 19.583333333333332vw);
	}

	.image-gallery__image2 {
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// vertical-align: middle;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		@include minimum-size(top, 1.8229166666666667vw);
		@include minimum-size(left, 32.916666666666664vw);
		z-index: 1;
	}

	.image-gallery__image3-wrapper {
		@include minimum-size(width, 14.479166666666668vw);
		@include minimum-size(height, 12.34375vw);
	}

	.image-gallery__image3 {
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// vertical-align: middle;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		@include minimum-size(top, 10vw);
		@include minimum-size(left, 67.08333333333333vw);
		z-index: 5;
	}

	.image-gallery__image4-wrapper {
		@include minimum-size(width, 27.187499999999996vw);
		@include minimum-size(height, 17.604166666666668vw);
	}

	.image-gallery__image4 {
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// vertical-align: middle;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		@include minimum-size(top, 1.1979166666666667vw);
		@include minimum-size(left, 72.8125vw);
		z-index: 4;
	}

	.image-gallery__image5-wrapper {
		@include minimum-size(width, 16.875vw);
		@include minimum-size(height, 14.427083333333332vw);
	}

	.image-gallery__image5 {
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// vertical-align: middle;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		@include minimum-size(top, 15.937499999999998vw);
		@include minimum-size(left, 22.1875vw);
		z-index: 4;
	}

	.image-gallery__image6-wrapper {
		@include minimum-size(width, 28.802083333333332vw);
		@include minimum-size(height, 24.583333333333332vw);
	}

	.image-gallery__image6 {
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// vertical-align: middle;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		@include minimum-size(top, 13.645833333333332vw);
		@include minimum-size(left, 48.229166666666664vw);
		z-index: 2;
	}

	.image-gallery__image7-wrapper {
		@include minimum-size(width, 20.729166666666668vw);
		@include minimum-size(height, 17.65625vw);
	}

	.image-gallery__image7 {
		// display: block;
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		// top: 0;
		@include minimum-size(top, 25.46875vw);
		@include minimum-size(left, 11.822916666666666vw);
		z-index: 3;
	}

	.image-gallery__image8-wrapper {
		@include minimum-size(width, 17.916666666666668vw);
		@include minimum-size(height, 15.260416666666668vw);
	}

	.image-gallery__image8 {
		// display: block;
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		// top: 0;
		@include minimum-size(top, 27.968749999999996vw);
		@include minimum-size(left, 43.020833333333336vw);
		z-index: 3;
	}

	.image-gallery__image9-wrapper {
		@include minimum-size(width, 27.187499999999996vw);
		@include minimum-size(height, 23.177083333333336vw);
	}

	.image-gallery__image9 {
		// display: block;
		// width: inherit;
		// height: inherit;
		// object-fit: cover;
		// border-radius: 1rem;
		// box-shadow: 0 2.1rem 1.33rem var(--color-neutral-royal-green-transparent);
		// position: absolute;
		// top: 0;
		@include minimum-size(top, 24.010416666666668vw);
		@include minimum-size(left, 70.15625vw);
		z-index: 1;
	}
}
