@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$image-description-background-color: var(--color-primary-white);

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.lead-nutritionist {
	@include minimum-size(margin-bottom, -8.3rem, -25.937500000000004vw);
}

.lead-nutritionist__wrapper {
	@include flex(center, center, column);
}

.lead-nutritionist__image-wrapper {
	@include minimum-size(width, 32rem, 100vw);
	@include minimum-size(height, 31rem, 96.875vw);
}

.lead-nutritionist__image {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
}

.lead-nutritionist__image-description {
	position: relative;
	@include minimum-size(width, 26.8rem, 83.75vw);
	@include minimum-size(height, 7.1rem, 22.1875vw);
	background-color: $image-description-background-color;
	@include minimum-size(border-radius, 6.5rem, 20.3125vw);
	box-shadow: 0rem 2.1rem 13.3rem var(--color-neutral-pewter-blue);
	@include flex(center, center, column);
	outline: 0.1rem dashed var(--color-accent-medium-sea-green-transparent);
	outline-offset: -0.4rem;
	z-index: 2;
}

.lead-nutritionist__initials {
	text-align: center;
}

.lead-nutritionist__specialization {
	@include minimum-size(padding-top, 0.6rem, 1.875vw);
}

@include media(">=tablet") {
	.lead-nutritionist {
		@include minimum-size(margin-bottom, -10.8rem, -14.0625vw);
	}

	.lead-nutritionist__image-wrapper {
		@include minimum-size(width, 53.8rem, 70.05208333333334vw);
		@include minimum-size(height, 50rem, 65.10416666666666vw);
	}

	.lead-nutritionist__image-description {
		@include minimum-size(width, 29.822rem, 38.83072916666667vw);
		@include minimum-size(height, 6.188rem, 8.057291666666668vw);
		@include minimum-size(border-radius, 6.5rem, 8.463541666666668vw);
		outline-offset: -0.43rem;
		@include minimum-size(margin-top, -2.7rem, -3.515625vw);
	}

	.lead-nutritionist__specialization {
		@include minimum-size(padding-top, 0.4rem, 0.5208333333333333vw);
	}

	.lead-nutritionist__initials {
		@include minimum-size(font-size, var(--font-size-tablet-15), 1.953125vw);
		@include minimum-size(line-height, 2.1rem, 2.734375vw);
	}
}

@include media(">=desktop") {
	.lead-nutritionist {
		@include minimum-size(margin-bottom, -2.1354166666666665vw); // FIX VALUE FOR DESKTOP
		@include minimum-size(margin-top, -10.625vw); // FIX VALUE FOR DESKTOP
	}

	.lead-nutritionist__image-wrapper {
		@include minimum-size(width, 32.604166666666664vw); // **
		@include minimum-size(height, 30.312499999999996vw); // **
	}

	.lead-nutritionist__image-description {
		@include minimum-size(width, 18.072916666666668vw); // **
		@include minimum-size(height, 3.75vw); // **
		@include minimum-size(border-radius, 3.3854166666666665vw); // **
		outline-offset: -0.5rem; // **
		@include minimum-size(margin-top, -1.6145833333333335vw); // **
	}

	.lead-nutritionist__specialization {
		@include minimum-size(padding-top, 0.26041666666666663vw); // **
	}

	.lead-nutritionist__initials {
		@include minimum-size(font-size, 0.8333333333333334vw); // **
		@include minimum-size(line-height, 1.1458333333333333vw); // **
	}
}
