@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1920px
);

.logotype {
	display: block;
}

.logotype__link {
}

.logotype__text-content {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-16), 5vw);
	@include minimum-size(line-height, 2.2rem, 6.875vw);
}

.logotype--text-color--black {
	color: var(--color-primary-black);
}

.logotype--text-color--white {
	color: var(--color-primary-white);
}

.logotype--text-size--big {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-18), 5.625vw);
	@include minimum-size(line-height, 2.5rem, 7.8125vw);
}

@include media(">=tablet") {
	.logotype__text-content {
		@include minimum-size(font-size, var(--font-size-tablet-16), 2.083333333333333vw);
		@include minimum-size(line-height, 2.2rem, 2.864583333333333vw);
	}
}

@include media(">=desktop") {

}
