@use "../abstracts/mixins" as *;

.logotype {
	display: block;
}

.logotype__link {
}

.logotype__text-content {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-16), 5vw);
	@include minimum-size(line-height, 2.2rem, 6.875vw);
}

.logotype__text-color__black {
	color: var(--color-primary-black);
}

.logotype__text-color__white {
	color: var(--color-primary-white);
}
