@use "../vendors/include-media" as *;
@use "../abstracts/mixins" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.main-slider {
	// @include minimum-size(padding-top, 9.9rem, 30.9375vw);
	padding-top: max(9.9rem, 30.9375vw) !important;
	z-index: 400 !important;
}

.main-slider--type--universal {
	display: none;
}

.main-slider--type--mobile {
	display: block;
	margin: 0 auto;
	position: relative;
	overflow: visible !important;

	.main-slider__wrapper {
		position: relative;
	}

	.main-slider__slide {
		// background-color: red;
		//Temporary
		&:nth-child(2) {
			// background-color: blue;
		}
		&:nth-child(3) {
			// background-color: green;
		}
		//Temporary
		// display: block;
		// @include minimum-size(width, 26rem, 81.25vw);
		// @include minimum-size(height, 42rem, 131.25vw);
	}

	.main-slider__slide-text {
		text-align: center;
		@include minimum-size(margin-bottom, 3rem, 9.375vw);
	}

	.main-slider__slide-image-wrapper {
		@include minimum-size(width, 26rem, 81.25vw);
		// width: 100%;
		@include minimum-size(height, 42rem, 131.25vw);
		margin: 0 auto;
		display: block;
	}

	.main-slider__slide-image {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
	}

	.main-slider__pagination-wrapper {
	}

	.main-slider__pagination {
	}

	.main-slider__pagination-item {
	}

	.main-slider__pagination-text {
	}

	.main-slider__previous-slide-button {
		--previous-slide-button-background-color: var(--color-accent-jade-green);
		--previous-slide-button-border-color: var(--color-primary-white);
		--previous-slide-button-icon-color: var(--color-primary-white);
		@include minimum-size(width, 4.3rem, 13.4375vw);
		@include minimum-size(height, 4.3rem, 13.4375vw);
		background-color: var(--previous-slide-button-background-color);
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		@include minimum-size(top, 31rem, 96.875vw);
		// @include minimum-size(left, -1.6rem, -5vw);
		@include minimum-size(left, -1.2rem, -3.75vw);
		// left: -1.2rem;
		border: 0.15625vw solid var(--previous-slide-button-border-color);
		border-radius: 20.3125vw;
		border-width: 1.5625vw;
		z-index: 100;

		&:hover,
		&:focus {
			// background-color: var(--color-primary-white);
			// border-color: var(--color-accent-jade-green);
			background-color: var(--previous-slide-button-background-color);
			border-color: var(--previous-slide-button-border-color);

			.main-slider__previous-slide-button-icon {
				// color: var(--color-accent-jade-green);
				color: var(--previous-slide-button-icon-color);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	.main-slider__previous-slide-button-icon {
		@include minimum-size(width, 0.8rem, 2.5vw);
		@include minimum-size(height, 1.1rem, 3.4375000000000004vw);
		color: var(--color-primary-white);
		fill: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-65%, -50%);
	}

	.main-slider__next-slide-button {
		--next-slide-button-background-color: var(--color-accent-jade-green);
		--next-slide-button-border-color: var(--color-primary-white);
		--next-slide-button-icon-color: var(--color-primary-white);
		@include minimum-size(width, 4.3rem, 13.4375vw);
		@include minimum-size(height, 4.3rem, 13.4375vw);
		background-color: var(--next-slide-button-background-color);
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		@include minimum-size(top, 31rem, 96.875vw);
		// @include minimum-size(right, -1.6rem, -5vw);
		@include minimum-size(right, -1.2rem, -3.75vw);
		// right: -1.2rem;
		border: 0.15625vw solid var(--next-slide-button-border-color);
		border-radius: 20.3125vw;
		border-width: 1.5625vw;
		z-index: 100;

		&:hover,
		&:focus {
			// background-color: var(--color-primary-white);
			// border-color: var(--color-accent-jade-green);
			background-color: var(--next-slide-button-background-color);
			border-color: var(--next-slide-button-border-color);

			.main-slider__next-slide-button-icon {
				// color: var(--color-accent-jade-green);
				color: var(--next-slide-button-icon-color);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	.main-slider__next-slide-button-icon {
		@include minimum-size(width, 0.8rem, 2.5vw);
		@include minimum-size(height, 1.1rem, 3.4375000000000004vw);
		color: var(--color-primary-white);
		fill: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-45%, -50%);
	}
}

@include media(">=tablet") {
	.main-slider {
		// @include minimum-size(padding-top, 3.6rem, 4.6875vw);
		margin-left: auto;
		padding-top: max(3.6rem, 4.6875vw) !important;
		position: relative;
	}

	.main-slider--type--mobile {
		display: none;
	}

	.main-slider--type--universal {
		display: block;
		position: relative;
		@include flex(center, flex-start, row-reverse);
		min-width: 100%;
		overflow: visible !important;
		// @include minimum-size(width, 50.2rem, 65.36458333333334vw);
		// height: max(62.9rem, 81.90104166666666vw) !important;

		.main-slider__wrapper {
			@include minimum-size(width, 50.2rem, 65.36458333333334vw);
			@include minimum-size(height, 62.9rem, 81.90104166666666vw);
			background-image: url("../images/main-slider-background-image.svg");
			background-position: 0 50%;
			background-repeat: no-repeat;
			background-size: 65.36458333333334vw auto;
		}

		.main-slider__slide {
			//Temporary
			// &:nth-child(2),
			// &:nth-child(3) {
			// 	display: none;
			// }
			//Temporary
		}

		.main-slider__slide-text {
		}

		.main-slider__slide-image-wrapper {
			@include minimum-size(width, 50.2rem, 65.36458333333334vw);
			@include minimum-size(height, 62.9rem, 81.90104166666666vw);
		}

		.main-slider__slide-image {
			width: inherit;
			height: inherit;
			object-fit: contain;
			vertical-align: middle;
			// border-bottom-left-radius: 50%;
			// border-bottom-right-radius: 50%;
			border-radius: 50%;
			// background-color: red;
		}

		.main-slider__pagination-wrapper {
			@include minimum-size(width, 50.2rem, 65.36458333333334vw);
			@include minimum-size(height, 50.2rem, 65.36458333333334vw);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-46%, -46%);
			z-index: 200;
			pointer-events: none;
		}

		.main-slider__pagination {
			width: inherit;
			height: inherit;
		}

		.main-slider__pagination-item {
			position: relative;
			pointer-events: auto;
		}

		.main-slider__pagination-item-0 {
			cursor: pointer;
			@include flex(center, flex-end, row);
			@include minimum-size(column-gap, 1rem, 1.3020833333333335vw);
			text-align: center;
			position: absolute;
			@include minimum-size(top, 6.5rem, 8.463541666666668vw);
			@include minimum-size(right, 42.6rem, 5.546875vw);
			left: auto;
			width: unset;
			transition: top 0.5s ease, right 0.5s ease;

			.main-slider__pagination-text {
				@include minimum-size(width, 12.2rem, 15.885416666666666vw);
				transition: width 0.5s ease, font-size 0.5s ease, color 0.5s ease;
			}

			&::after {
				position: relative;
				content: "";
				@include minimum-size(width, 2.857rem, 3.7200520833333335vw);
				@include minimum-size(height, 2.857rem, 3.7200520833333335vw);
				display: block;
				background-image: url("../images/main-slider-dot.svg");
				background-size: 3.7200520833333335vw 3.7200520833333335vw;
				z-index: 2;
				opacity: 0.53;
				transition: width 0.5s ease, height 0.5s ease, background-size 0.5s ease, opacity 0.5s ease;
			}

			&:hover,
			&:focus {
				@include minimum-size(top, 6.5rem, 8.463541666666668vw);
				@include minimum-size(right, 42.5rem, 5.533854166666666vw);
				width: unset;

				.main-slider__pagination-text {
					font-family: var(--font-family-normal-600);
					@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
					@include minimum-size(line-height, 2.5rem, 3.2552083333333335vw);
					color: var(--color-neutral-baltic-sea);
					@include minimum-size(width, 14.4rem, 18.75vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 5.055rem, 6.582031249999999vw);
					@include minimum-size(height, 5.055rem, 6.582031249999999vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 6.582031249999999vw 6.582031249999999vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-item-1 {
			cursor: pointer;
			@include flex(center, flex-end, row);
			@include minimum-size(column-gap, 1rem, 1.3020833333333335vw);
			text-align: center;
			position: absolute;
			@include minimum-size(top, 23rem, 29.947916666666668vw);
			@include minimum-size(right, 49.3rem, 6.419270833333333vw);
			left: auto;
			width: unset;
			transition: top 0.5s ease, right 0.5s ease;

			.main-slider__pagination-text {
				@include minimum-size(width, 9.78rem, 12.734375vw);
				transition: width 0.5s ease, font-size 0.5s ease, color 0.5s ease;
			}

			&::after {
				position: relative;
				content: "";
				@include minimum-size(width, 2.857rem, 3.7200520833333335vw);
				@include minimum-size(height, 2.857rem, 3.7200520833333335vw);
				display: block;
				background-image: url("../images/main-slider-dot.svg");
				background-size: 3.7200520833333335vw 3.7200520833333335vw;
				z-index: 2;
				opacity: 0.53;
				transition: width 0.5s ease, height 0.5s ease, background-size 0.5s ease, opacity 0.5s ease;
			}

			&:hover,
			&:focus {
				@include minimum-size(top, 23rem, 29.947916666666668vw);
				@include minimum-size(right, 48.2rem, 6.276041666666667vw);
				width: unset;

				.main-slider__pagination-text {
					font-family: var(--font-family-normal-600);
					@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
					@include minimum-size(line-height, 2.5rem, 3.2552083333333335vw);
					color: var(--color-neutral-baltic-sea);
					@include minimum-size(width, 8.7rem, 11.328125vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 5.055rem, 6.582031249999999vw);
					@include minimum-size(height, 5.055rem, 6.582031249999999vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 6.582031249999999vw 6.582031249999999vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-item-2 {
			cursor: pointer;
			@include flex(center, flex-end, row);
			@include minimum-size(column-gap, 1rem, 1.3020833333333335vw);
			text-align: center;
			position: absolute;
			@include minimum-size(right, 43.6rem, 5.677083333333333vw);
			@include minimum-size(top, 39.5rem, 51.432291666666664vw);
			width: unset;
			left: auto;
			transition: top 0.5s ease, right 0.5s ease;

			.main-slider__pagination-text {
				@include minimum-size(width, 15.1rem, 19.661458333333336vw);
				transition: width 0.5s ease, font-size 0.5s ease, color 0.5s ease;
			}

			&::after {
				position: relative;
				content: "";
				@include minimum-size(width, 2.857rem, 3.7200520833333335vw);
				@include minimum-size(height, 2.857rem, 3.7200520833333335vw);
				display: block;
				background-image: url("../images/main-slider-dot.svg");
				background-size: 3.7200520833333335vw 3.7200520833333335vw;
				z-index: 2;
				opacity: 0.53;
				transition: width 0.5s ease, height 0.5s ease, background-size 0.5s ease, opacity 0.5s ease;
			}

			&:hover,
			&:focus {
				@include minimum-size(right, 42rem, 5.46875vw);
				@include minimum-size(top, 39.5rem, 51.432291666666664vw);
				width: unset;

				.main-slider__pagination-text {
					font-family: var(--font-family-normal-600);
					@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
					@include minimum-size(line-height, 2.5rem, 3.2552083333333335vw);
					color: var(--color-neutral-baltic-sea);
					@include minimum-size(width, 10.1rem, 13.151041666666666vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 5.055rem, 6.582031249999999vw);
					@include minimum-size(height, 5.055rem, 6.582031249999999vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 6.582031249999999vw 6.582031249999999vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-item--state--active {
			.main-slider__pagination-text {
				font-family: var(--font-family-normal-600);
				@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
				@include minimum-size(line-height, 2.5rem, 3.2552083333333335vw);
				color: var(--color-neutral-baltic-sea);
				@include minimum-size(width, 14.4rem, 18.75vw);
			}

			.main-slider__pagination-item-0 {
				@include minimum-size(top, 6.5rem, 8.463541666666668vw);
				@include minimum-size(right, 42.5rem, 5.533854166666666vw);
				width: unset;

				.main-slider__pagination-text {
					@include minimum-size(width, 14.4rem, 18.75vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 5.055rem, 6.582031249999999vw);
					@include minimum-size(height, 5.055rem, 6.582031249999999vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 6.582031249999999vw 6.582031249999999vw;
					z-index: 2;
					opacity: 1;
				}
			}

			.main-slider__pagination-item-1 {
				@include minimum-size(top, 23rem, 29.947916666666668vw);
				@include minimum-size(right, 48.2rem, 6.276041666666667vw);
				width: unset;

				.main-slider__pagination-text {
					@include minimum-size(width, 8.7rem, 11.328125vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 5.055rem, 6.582031249999999vw);
					@include minimum-size(height, 5.055rem, 6.582031249999999vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 6.582031249999999vw 6.582031249999999vw;
					z-index: 2;
					opacity: 1;
				}
			}

			.main-slider__pagination-item-2 {
				@include minimum-size(right, 42rem, 5.46875vw);
				@include minimum-size(top, 39.5rem, 51.432291666666664vw);
				width: unset;

				.main-slider__pagination-text {
					@include minimum-size(width, 10.1rem, 13.151041666666666vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 5.055rem, 6.582031249999999vw);
					@include minimum-size(height, 5.055rem, 6.582031249999999vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 6.582031249999999vw 6.582031249999999vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-text {
			font-family: var(--font-family-normal-600);
			@include minimum-size(font-size, var(--font-size-tablet-14), 1.8229166666666667vw);
			@include minimum-size(line-height, 2rem, 2.604166666666667vw);
			color: var(--color-neutral-pale-slate);
			position: relative;
		}

		.main-slider__previous-slide-button {
		}

		.main-slider__previous-slide-button-icon {
		}

		.main-slider__next-slide-button {
		}

		.main-slider__next-slide-button-icon {
		}
	}
}

@include media(">=desktop") {
	.main-slider {
		// @include minimum-size(padding-top, 0);
		padding-top: 0 !important;
		margin-left: 0;
	}

	.main-slider--type--universal {
		display: block;
		position: relative;
		@include flex(center, center, row-reverse);
		min-width: 100%;

		.main-slider__wrapper {
			@include minimum-size(width, 26.145833333333336vw);
			@include minimum-size(height, 37.708333333333336vw);
			background-image: url("../images/main-slider-background-image.svg");
			background-position: 0 50%;
			background-repeat: no-repeat;
			background-size: 26.145833333333336vw auto;
			z-index: 1;
		}

		.main-slider__slide {
			//Temporary
			// &:nth-child(2),
			// &:nth-child(3) {
			// 	display: none;
			// }
			//Temporary
		}

		.main-slider__slide-text {
		}

		.main-slider__slide-image-wrapper {
			@include minimum-size(width, 26.145833333333336vw);
			@include minimum-size(height, 37.708333333333336vw);
		}

		.main-slider__slide-image {
			width: inherit;
			height: inherit;
			object-fit: contain;
			vertical-align: middle;
			z-index: 1;
		}

		.main-slider__pagination-wrapper {
			@include minimum-size(width, 26.145833333333336vw);
			@include minimum-size(height, 26.145833333333336vw);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}

		.main-slider__pagination {
			width: inherit;
			height: inherit;
		}

		.main-slider__pagination-item {
			position: relative;
		}

		.main-slider__pagination-item-0 {
			cursor: pointer;
			@include flex(center, flex-end, row);
			@include minimum-size(column-gap, 0.9895833333333333vw);
			text-align: center;
			position: absolute;
			@include minimum-size(top, 3.385416666666667vw);
			@include minimum-size(right, 21.666666666666668vw);
			left: auto;
			width: unset;

			.main-slider__pagination-text {
				@include minimum-size(width, 6.5625vw);
			}

			&::after {
				position: relative;
				content: "";
				@include minimum-size(width, 1.4880208333333333vw);
				@include minimum-size(height, 1.4880208333333333vw);
				display: block;
				background-image: url("../images/main-slider-dot.svg");
				background-size: 1.4880208333333333vw 1.4880208333333333vw;
				z-index: 2;
				opacity: 0.53;
			}

			&:hover,
			&:focus {
				@include minimum-size(top, 3.385416666666667vw);
				@include minimum-size(right, 21.614583333333336vw);
				width: unset;

				.main-slider__pagination-text {
					font-family: var(--font-family-normal-600);
					@include minimum-size(font-size, 0.9375vw);
					@include minimum-size(line-height, 1.3020833333333335vw);
					color: var(--color-neutral-baltic-sea);
					@include minimum-size(width, 7.5vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 2.6328124999999996vw);
					@include minimum-size(height, 2.6328124999999996vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 2.6328124999999996vw 2.6328124999999996vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-item-1 {
			cursor: pointer;
			@include flex(center, flex-end, row);
			@include minimum-size(column-gap, 0.9895833333333333vw);
			text-align: center;
			position: absolute;
			@include minimum-size(top, 11.979166666666666vw);
			@include minimum-size(right, 25.3125vw);
			left: auto;
			width: unset;

			.main-slider__pagination-text {
				@include minimum-size(width, 5.09375vw);
			}

			&::after {
				position: relative;
				content: "";
				@include minimum-size(width, 1.4880208333333333vw);
				@include minimum-size(height, 1.4880208333333333vw);
				display: block;
				background-image: url("../images/main-slider-dot.svg");
				background-size: 1.4880208333333333vw 1.4880208333333333vw;
				z-index: 2;
				opacity: 0.53;
			}

			&:hover,
			&:focus {
				@include minimum-size(top, 11.979166666666666vw);
				@include minimum-size(right, 24.739583333333336vw);
				width: unset;

				.main-slider__pagination-text {
					font-family: var(--font-family-normal-600);
					@include minimum-size(font-size, 0.9375vw);
					@include minimum-size(line-height, 1.3020833333333335vw);
					color: var(--color-neutral-baltic-sea);
					@include minimum-size(width, 6.5625vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 2.6328124999999996vw);
					@include minimum-size(height, 2.6328124999999996vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 2.6328124999999996vw 2.6328124999999996vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-item-2 {
			cursor: pointer;
			@include flex(center, flex-end, row);
			@include minimum-size(column-gap, 0.9895833333333333vw);
			text-align: center;
			position: absolute;
			@include minimum-size(right, 22.5vw);
			@include minimum-size(top, 20.572916666666664vw);
			left: auto;
			width: unset;

			.main-slider__pagination-text {
				@include minimum-size(width, 7.864583333333333vw);
			}

			&::after {
				position: relative;
				content: "";
				@include minimum-size(width, 1.4880208333333333vw);
				@include minimum-size(height, 1.4880208333333333vw);
				display: block;
				background-image: url("../images/main-slider-dot.svg");
				background-size: 1.4880208333333333vw 1.4880208333333333vw;
				z-index: 2;
				opacity: 0.53;
			}

			&:hover,
			&:focus {
				@include minimum-size(right, 21.4vw);
				@include minimum-size(top, 20.572916666666664vw);
				width: unset;

				.main-slider__pagination-text {
					font-family: var(--font-family-normal-600);
					@include minimum-size(font-size, 0.9375vw);
					@include minimum-size(line-height, 1.3020833333333335vw);
					color: var(--color-neutral-baltic-sea);
					@include minimum-size(width, 10.052083333333334vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 2.6328124999999996vw);
					@include minimum-size(height, 2.6328124999999996vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 2.6328124999999996vw 2.6328124999999996vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-item--state--active {
			.main-slider__pagination-text {
				font-family: var(--font-family-normal-600);
				@include minimum-size(font-size, 0.9375vw);
				@include minimum-size(line-height, 1.3020833333333335vw);
				color: var(--color-neutral-baltic-sea);
			}

			.main-slider__pagination-item-0 {
				@include minimum-size(top, 3.385416666666667vw);
				@include minimum-size(right, 21.614583333333336vw);
				width: unset;

				.main-slider__pagination-text {
					@include minimum-size(width, 7.5vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 2.6328124999999996vw);
					@include minimum-size(height, 2.6328124999999996vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 2.6328124999999996vw 2.6328124999999996vw;
					z-index: 2;
					opacity: 1;
				}
			}

			.main-slider__pagination-item-1 {
				@include minimum-size(top, 11.979166666666666vw);
				@include minimum-size(right, 24.739583333333336vw);
				width: unset;

				.main-slider__pagination-text {
					@include minimum-size(width, 6.5625vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 2.6328124999999996vw);
					@include minimum-size(height, 2.6328124999999996vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 2.6328124999999996vw 2.6328124999999996vw;
					z-index: 2;
					opacity: 1;
				}
			}

			.main-slider__pagination-item-2 {
				@include minimum-size(right, 21.4vw);
				@include minimum-size(top, 20.572916666666664vw);
				width: unset;

				.main-slider__pagination-text {
					@include minimum-size(width, 10.052083333333334vw);
				}

				&::after {
					position: relative;
					content: "";
					@include minimum-size(width, 2.6328124999999996vw);
					@include minimum-size(height, 2.6328124999999996vw);
					display: block;
					background-image: url("../images/main-slider-dot.svg");
					background-size: 2.6328124999999996vw 2.6328124999999996vw;
					z-index: 2;
					opacity: 1;
				}
			}
		}

		.main-slider__pagination-text {
			font-family: var(--font-family-normal-600);
			@include minimum-size(font-size, 0.7291666666666667vw);
			@include minimum-size(line-height, 1.0416666666666665vw);
			color: var(--color-neutral-pale-slate);
			position: relative;
			@include flex(center, center, row);
			column-gap: 0.7291666666666666vw;
		}

		.main-slider__previous-slide-button {
		}

		.main-slider__previous-slide-button-icon {
		}

		.main-slider__next-slide-button {
		}

		.main-slider__next-slide-button-icon {
		}
	}
}
