@use "../vendors/include-media" as *;
@use "../abstracts/mixins" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1920px
);

.main-slider {
	@include minimum-size(padding-top, 9.9rem, 30.9375vw);
}

.main-slider--type--universal {
	display: none;
}

.main-slider--type--mobile {
	display: block;
	margin: 0 auto;
	position: relative;

	.main-slider__wrapper {
	}

	.main-slider__slide {
		//Temporary
		&:nth-child(2),
		&:nth-child(3) {
			display: none;
		}
		//Temporary
	}

	.main-slider__slide-text {
		text-align: center;
		@include minimum-size(margin-bottom, 3rem, 9.375vw);
	}

	.main-slider__slide-image-wrapper {
		@include minimum-size(width, 26rem, 81.25vw);
		@include minimum-size(height, 42rem, 131.25vw);
	}

	.main-slider__slide-image {
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
	}

	.main-slider__pagination-wrapper {
	}

	.main-slider__pagination {
	}

	.main-slider__pagination-item {
	}

	.main-slider__pagination-dot {
	}

	.main-slider__pagination-text {
	}

	.main-slider__previous-slide-button {
		@include minimum-size(width, 4.3rem, 13.4375vw);
		@include minimum-size(height, 4.3rem, 13.4375vw);
		background-color: var(--color-accent-jade-green);
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		@include minimum-size(top, 31rem, 96.875vw);
		@include minimum-size(left, -1.6rem, -5vw);
		border: 0.15625vw solid var(--color-primary-white);
		border-radius: 20.3125vw;
		border-width: 1.5625vw;

		&:hover,
		&:focus {
			background-color: var(--color-primary-white);
			border-color: var(--color-accent-jade-green);

			.main-slider__previous-slide-button-icon {
				color: var(--color-accent-jade-green);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	.main-slider__previous-slide-button-icon {
		@include minimum-size(width, 0.8rem, 2.5vw);
		@include minimum-size(height, 1.1rem, 3.4375000000000004vw);
		color: var(--color-primary-white);
		fill: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-65%, -50%);
	}

	.main-slider__next-slide-button {
		@include minimum-size(width, 4.3rem, 13.4375vw);
		@include minimum-size(height, 4.3rem, 13.4375vw);
		background-color: var(--color-accent-jade-green);
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		@include minimum-size(top, 31rem, 96.875vw);
		@include minimum-size(right, -1.6rem, -5vw);
		border: 0.15625vw solid var(--color-primary-white);
		border-radius: 20.3125vw;
		border-width: 0.5rem;

		&:hover,
		&:focus {
			background-color: var(--color-primary-white);
			border-color: var(--color-accent-jade-green);

			.main-slider__next-slide-button-icon {
				color: var(--color-accent-jade-green);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	.main-slider__next-slide-button-icon {
		@include minimum-size(width, 0.8rem, 2.5vw);
		@include minimum-size(height, 1.1rem, 3.4375000000000004vw);
		color: var(--color-primary-white);
		fill: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-45%, -50%);
	}
}

@include media(">=tablet") {
	.main-slider {
		@include minimum-size(padding-top, 3.6rem, 4.6875vw); // change
		margin-left: auto;
	}

	.main-slider--type--mobile {
		display: none;
	}

	.main-slider--type--universal {
		display: block;
		position: relative;
		@include flex(center, flex-start, row-reverse);

		.main-slider__wrapper {
			@include minimum-size(width, 50.2rem, 65.36458333333334vw);
			@include minimum-size(height, 62.9rem, 81.90104166666666vw);
			background-image: url("../images/main-slider-background-image-desktop@1x.png");
			background-position: 0 50%;
			background-repeat: no-repeat;
			background-size: 65.36458333333334vw auto;
			@include retina-image("../images/main-slider-background-image-desktop@2x.png");
		}

		.main-slider__wrapper .webp {
			background-image: url("../images/main-slider-background-image-desktop@1x.webp");
			@include retina-image("../images/main-slider-background-image-desktop@2x.webp");
		}

		.main-slider__slide {
			//Temporary
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
			//Temporary
		}

		.main-slider__slide-text {
		}

		.main-slider__slide-image-wrapper {
			@include minimum-size(width, 50.2rem, 65.36458333333334vw);
			@include minimum-size(height, 62.9rem, 81.90104166666666vw);
			// height: auto;
		}

		.main-slider__slide-image {
			width: inherit;
			height: inherit;
			object-fit: contain;
			vertical-align: middle;
		}

		.main-slider__pagination-wrapper {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		.main-slider__pagination {
			@include flex(flex-start, flex-start, column);
			@include minimum-size(row-gap, 12rem, 15.625vw); // temp
			// margin-left: -11rem;
		}

		.main-slider__pagination-item {
			cursor: pointer;
			@include flex(center, flex-start, row-reverse);
			@include minimum-size(column-gap, 1rem, 1.3020833333333335vw);

			&:nth-child(1)[ml-active="-11"] {
				margin-left: -11.3rem;
			}

			&:nth-child(2)[ml="12"] {
				margin-left: -12rem;
			}

			&:nth-child(3)[ml="12"] {
				margin-left: -12rem;
			}
		}

		.main-slider__pagination-item--state--active {

			.main-slider__pagination-text {
				font-family: var(--font-family-normal-600);
				@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
				@include minimum-size(line-height, 2.5rem, 3.2552083333333335vw);
				color: var(--color-neutral-baltic-sea);
			}

			.main-slider__pagination-dot {
				@include minimum-size(width, 5.055rem, 6.582031249999999vw);
				@include minimum-size(height, 5.055rem, 6.582031249999999vw);
				background-color: transparent;
				border-radius: 50%;
				border: 0.1rem solid var(--color-accent-jade-green);
				position: relative;
				opacity: 1;

				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: block;
					@include minimum-size(width, 3.297rem, 4.29296875vw);
					@include minimum-size(height, 3.297rem, 4.29296875vw);
					background-color: var(--color-accent-jade-green);
					border-radius: 50%;
				}
			}
		}

		.main-slider__pagination-dot {
			@include minimum-size(width, 2.857rem, 3.7200520833333335vw);
			@include minimum-size(height, 2.857rem, 3.7200520833333335vw);
			background-color: transparent;
			border-radius: 50%;
			border: 0.1rem solid var(--color-accent-jade-green);
			position: relative;
			opacity: 0.53;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				@include minimum-size(width, 1.758rem, 2.2890625vw);
				@include minimum-size(height, 1.758rem, 2.2890625vw);
				background-color: var(--color-accent-jade-green);
				border-radius: 50%;
			}
		}

		.main-slider__pagination-text {
			font-family: var(--font-family-normal-600);
			@include minimum-size(font-size, var(--font-size-tablet-14), 1.8229166666666667vw);
			@include minimum-size(line-height, 2rem, 2.604166666666667vw);
			color: var(--color-neutral-pale-slate);
			position: relative;
		}

		.main-slider__previous-slide-button {
		}

		.main-slider__previous-slide-button-icon {
		}

		.main-slider__next-slide-button {
		}

		.main-slider__next-slide-button-icon {
		}
	}
}

@include media(">=desktop") {
	.main-slider--type--universal {
		display: block;
	}

	.main-slider--type--mobile {
		display: none;
	}
}
