@use "../abstracts/mixins" as *;

$bar-color: var(--color-accent-jade-green);
$bar-width: max(3.8rem, 11.875vw);
$bar-height: max(0.6rem, 1.875vw);
$gap-between-bars: max(0.5rem, 1.5625vw);

.mobile-navigation-burger {
	position: relative;
	@include flex(flex-start, flex-start, column);
	row-gap: $gap-between-bars;
	cursor: pointer;
}

.mobile-navigation-burger__bar {
	color: $bar-color;
	width: $bar-width;
	height: $bar-height;
}
