@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

$bar-color: var(--color-accent-jade-green);

.mobile-navigation-burger {
	position: relative;
	@include flex(flex-start, flex-start, column);
	@include minimum-size(row-gap, 0.5rem, 1.5625vw);
	cursor: pointer;
}

.mobile-navigation-burger__bar {
	color: $bar-color;
	@include minimum-size(width, 3.8rem, 11.875vw);
	@include minimum-size(height, 0.6rem, 1.875vw);
	z-index: 720;
	position: relative;
}

@include media(">=tablet") {
	.mobile-navigation-burger {
		display: none;
	}
}
