@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px,
	desktop-large: 1550px
);

.navigation {
}

.navigation__main-navigation {
}

.navigation__mobile-navigation-burger {
}

.navigation__mobile-navigation {
	display: none;
}

@include media(">=tablet") {
	.navigation__mobile-navigation-burger {
		display: none;
	}

	.navigation__main-navigation {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		@include minimum-size(column-gap, 4.5rem, 5.859375vw);
		@include minimum-size(row-gap, 1.7rem, 2.213541666666667vw);
	}
}

@include media(">=desktop") {
	.navigation__main-navigation {
		@include flex(flex-start, flex-start, row);
		flex-wrap: wrap;
		@include minimum-size(column-gap, 5.729166666666666vw);
		@include minimum-size(row-gap, 0);
	}
}

@include media(">=desktop-large") {
	.navigation__main-navigation {
		@include minimum-size(column-gap, 5.729166666666666vw);
	}
}
