@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.politics-and-agreement {
}

.politics-and-agreement__item {
	--politics-and-agreement-item-opacity: 45%;
	opacity: var(--politics-and-agreement-item-opacity);

	&:hover,
	&:focus {
		opacity: var(--politics-and-agreement-item-opacity);
	}
}

.politics-and-agreement__link {
}

.politics-and-agreement__link-text {
}

@include media(">=tablet") {
	.politics-and-agreement {
	}

	.politics-and-agreement__item {
		opacity: 100% !important;
	}

	.politics-and-agreement__link {
	}

	.politics-and-agreement__link-text {
	}
}

@include media(">=desktop") {
}
