@use "../vendors/include-media" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

$products-slider-mobile-slide-background-color: var(--color-primary-white);

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.products-slider {
	// @include minimum-size(padding-top, 4.2rem, 13.125vw);
	padding-top: max(4.2rem, 13.125vw) !important;
}

.products-slider--type--universal {
	display: none;
}

.products-slider--type--mobile {
	position: relative;
	display: block;
	@include flex(center, center, column);
	overflow: visible !important;
	width: max(22.5rem, 70.3125vw) !important;

	.products-slider__wrapper {
		// width: max(22.5rem, 70.3125vw) !important;
	}

	.products-slider__slide {
		@include minimum-size(width, 22.5rem, 70.3125vw);
		border-radius: 1rem;
		// width: max(22.5rem, 70.3125vw) !important;
		// Temporary stuff
		// &:nth-child(1),
		// &:nth-child(3) {
		// 	display: none;
		// }
		// Temporary stuff
	}

	.products-slider__slide-content {
		@include flex(center, center, column);
		border-radius: 1rem;
		box-shadow: 0 0.4rem 8.3rem var(--color-neutral-eerie-black);
		background-color: $products-slider-mobile-slide-background-color;
		@include minimum-size(padding-bottom, 2rem, 6.25vw);
	}

	.products-slider__slide-image-wrapper {
		@include minimum-size(width, 22.5rem, 70.3125vw);
		@include minimum-size(height, 26.1rem, 81.5625vw);
		border-radius: 1rem 1rem 0 0;
	}

	.products-slider__slide-image {
		border-radius: inherit;
		width: inherit;
		height: inherit;
		object-fit: cover;
		vertical-align: middle;
	}

	.products-slider__slide-title {
		@include minimum-size(padding-top, 1.5rem, 4.6875vw);
		@include minimum-size(padding-left, 1rem, 3.125vw);
		@include minimum-size(padding-right, 1rem, 3.125vw);
	}

	.products-slider__slide-description {
		text-align: center;
		@include minimum-size(line-height, 2.1rem, 6.5625vw);
		@include minimum-size(padding-left, 1rem, 3.125vw);
		@include minimum-size(padding-right, 1rem, 3.125vw);
		@include minimum-size(padding-top, 1.5rem, 4.6875vw);
	}

	.products-slider__slider-controls-previous-slide {
		position: absolute;
		top: 51%;
		// left: -1.5%;
		left: -9.375vw;
		z-index: 100;
	}

	.products-slider__slider-controls-next-slide {
		position: absolute;
		top: 51%;
		// right: -1.5%;
		right: -9.375vw;
		z-index: 100;
	}

	.products-slider__previous-slide-button {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
	}

	.products-slider__arrow-left-icon {
		fill: none;
		color: var(--color-accent-jade-green);
		@include minimum-size(width, 1.7rem, 5.3125vw);
		@include minimum-size(height, 2.7rem, 8.4375vw);
	}

	.products-slider__next-slide-button {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}

	.products-slider__arrow-right-icon {
		fill: none;
		color: var(--color-accent-jade-green);
		@include minimum-size(width, 1.7rem, 5.3125vw);
		@include minimum-size(height, 2.7rem, 8.4375vw);
	}
}

@include media(">=tablet") {
	.products-slider {
		// @include minimum-size(padding-top, 4.8rem, 6.25vw);
		padding-top: max(4.8rem, 6.25vw) !important;
		overflow: visible !important;
	}

	.products-slider--type--universal {
		display: block;
		position: relative;

		.products-slider__wrapper {
			///////////////////
			// @include flex(center, flex-start, row);
			// @include minimum-size(
			// 	column-gap,
			// 	1.7rem,
			// 	2.213541666666667vw
			// ); // will delete when hook up real slider
		}

		.products-slider__slide {
			background-color: var(--color-primary-white);
			border-radius: 1rem;
			box-shadow: 0 0.4rem 8.3rem var(--color-neutral-eerie-black-transparent);
			// flex-shrink: unset !important;
			width: max(66.3rem, 86.328125vw) !important;

			// Temporarily, will be removed when real slider will be hooked up.
			// &:nth-child(1),
			// &:nth-child(3) {
			// 	opacity: 0.3;
			// }
			// Temporarily, will be removed when real slider will be hooked up.
		}

		.products-slider__slide-content {
			@include minimum-size(padding-bottom, 3rem, 3.90625vw);
		}

		.products-slider__slide-image-wrapper {
			@include minimum-size(width, 66.3rem, 86.328125vw);
			@include minimum-size(height, 26.1rem, 33.984375vw);
		}

		.products-slider__slide-image {
			border-radius: 1rem 1rem 0 0;
			width: inherit;
			height: inherit;
			object-fit: cover;
			vertical-align: middle;
		}

		.products-slider__slide-title {
			@include minimum-size(padding-left, 3rem, 3.90625vw);
			@include minimum-size(padding-right, 3rem, 3.90625vw);
			@include minimum-size(padding-top, 3rem, 3.90625vw);
			text-align: center;
		}

		.products-slider__slide-description {
			@include minimum-size(padding-left, 3rem, 3.90625vw);
			@include minimum-size(padding-right, 3rem, 3.90625vw);
			@include minimum-size(padding-top, 1.2rem, 1.5625vw);
			@include minimum-size(font-size, var(--font-size-tablet-16), 2.083333333333333vw);
			@include minimum-size(line-height, 2.4rem, 3.125vw);
			text-align: center;
		}

		.products-slider__slider-controls {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 200;
		}

		.products-slider__previous-slide-button {
			position: absolute;
			top: 0;
			@include minimum-size(right, 3.2rem, 4.166666666666666vw);
			@include minimum-size(width, 5.3rem, 6.901041666666667vw);
			@include minimum-size(height, 5.3rem, 6.901041666666667vw);
			border-radius: 50%;
			background-color: var(--color-accent-jade-green);
			cursor: pointer;
			border: 0.15625vw solid var(--color-accent-jade-green);
			border-radius: 20.3125vw;
			border-width: 0.5rem;

			&:hover,
			&:focus {
				background-color: var(--color-primary-white);
				border-color: var(--color-accent-jade-green);

				.products-slider__arrow-left-icon {
					color: var(--color-accent-jade-green);
				}
			}

			&:active {
				opacity: 0.8;
			}
		}

		.products-slider__arrow-left-icon {
			fill: none;
			@include minimum-size(width, 1.1rem, 1.4322916666666665vw);
			@include minimum-size(height, 1.7rem, 2.213541666666667vw);
			color: var(--color-primary-white);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-60%, -50%);
		}

		.products-slider__next-slide-button {
			position: absolute;
			top: 0;
			@include minimum-size(left, 57.8rem, 75.26041666666666vw);
			@include minimum-size(width, 5.3rem, 6.901041666666667vw);
			@include minimum-size(height, 5.3rem, 6.901041666666667vw);
			border-radius: 50%;
			background-color: var(--color-accent-jade-green);
			cursor: pointer;
			border: 0.15625vw solid var(--color-accent-jade-green);
			border-radius: 20.3125vw;
			border-width: 0.5rem;

			&:hover,
			&:focus {
				background-color: var(--color-primary-white);
				border-color: var(--color-accent-jade-green);

				.products-slider__arrow-right-icon {
					color: var(--color-accent-jade-green);
				}
			}

			&:active {
				opacity: 0.8;
			}
		}

		.products-slider__arrow-right-icon {
			fill: none;
			@include minimum-size(width, 1.1rem, 1.4322916666666665vw);
			@include minimum-size(height, 1.7rem, 2.213541666666667vw);
			color: var(--color-primary-white);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-40%, -50%);
		}
	}

	.products-slider--type--mobile {
		display: none;
	}
}

@include media(">=desktop") {
	.products-slider {
		@include minimum-size(padding-top, 4.427083333333334vw);
		z-index: 100 !important;
	}

	.products-slider--type--universal {
		display: block;
		position: relative;

		.products-slider__wrapper {
			////////////////////////
			// @include flex(center, center, row);
			// @include minimum-size(column-gap, 1.7rem, 0.8854166666666666vw);
		}

		.products-slider__slide {
			background-color: var(--color-primary-white);
			border-radius: 1rem;
			box-shadow: 0 0.4rem 8.3rem var(--color-neutral-eerie-black-transparent);
			@include minimum-size(width, 34.583333333333336vw);
			width: 34.53125vw !important;

			// Temporarily, will be removed when real slider will be hooked up.
			// &:nth-child(1),
			// &:nth-child(3) {
			// 	opacity: 0.3;
			// }
			// Temporarily, will be removed when real slider will be hooked up.
		}

		.products-slider__slide-content {
			@include minimum-size(padding-bottom, 1.7187500000000002vw); // ** FIX
		}

		.products-slider__slide-image-wrapper {
			@include minimum-size(width, 34.53125vw);
			@include minimum-size(height, 13.593749999999998vw);
		}

		.products-slider__slide-image {
			border-radius: 1rem 1rem 0 0;
			width: inherit;
			height: inherit;
			object-fit: cover;
			vertical-align: middle;
		}

		.products-slider__slide-title {
			@include minimum-size(padding-left, 1.5625vw);
			@include minimum-size(padding-right, 1.5625vw);
			@include minimum-size(padding-top, 1.5625vw);
			text-align: center;
		}

		.products-slider__slide-description {
			@include minimum-size(padding-left, 1.5625vw);
			@include minimum-size(padding-right, 1.5625vw);
			@include minimum-size(padding-top, 0.625vw);
			@include minimum-size(font-size, 0.8333333333333334vw);
			@include minimum-size(line-height, 1.25vw);
			text-align: center;
		}

		.products-slider__slider-controls {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(50%);
			@include minimum-size(height, 2.7604166666666665vw);
		}

		.products-slider__previous-slide-button {
			position: absolute;
			top: 0;
			@include minimum-size(left, -21vw); // fix
			@include minimum-size(width, 2.7604166666666665vw);
			@include minimum-size(height, 2.7604166666666665vw);
			border-radius: 50%;
			background-color: var(--color-accent-jade-green);
			cursor: pointer;
			border: 0.0625vw solid var(--color-accent-jade-green);
			border-radius: 8.125vw;
			border-width: 0.2604166667vw;
			z-index: 200;

			&:hover,
			&:focus {
				background-color: var(--color-primary-white);
				border-color: var(--color-accent-jade-green);

				.products-slider__arrow-left-icon {
					color: var(--color-accent-jade-green);
				}
			}

			&:active {
				opacity: 0.8;
			}
		}

		.products-slider__arrow-left-icon {
			fill: none;
			@include minimum-size(width, 0.5729166666666666vw);
			@include minimum-size(height, 0.8854166666666666vw);
			color: var(--color-primary-white);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-60%, -50%);
		}

		.products-slider__next-slide-button {
			position: absolute;
			top: 0;
			@include minimum-size(left, 18.2vw);
			@include minimum-size(width, 2.7604166666666665vw);
			@include minimum-size(height, 2.7604166666666665vw);
			border-radius: 50%;
			background-color: var(--color-accent-jade-green);
			cursor: pointer;
			border: 0.15625vw solid var(--color-accent-jade-green);
			border-radius: 8.125vw;
			border-width: 0.2604166667vw;
			z-index: 200;

			&:hover,
			&:focus {
				background-color: var(--color-primary-white);
				border-color: var(--color-accent-jade-green);

				.products-slider__arrow-right-icon {
					color: var(--color-accent-jade-green);
				}
			}

			&:active {
				opacity: 0.8;
			}
		}

		.products-slider__arrow-right-icon {
			fill: none;
			@include minimum-size(width, 0.5729166666666666vw);
			@include minimum-size(height, 0.8854166666666666vw);
			color: var(--color-primary-white);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-40%, -50%);
		}
	}

	.products-slider--type--mobile {
		display: none;
	}
}
