@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.reasons-list {
	@include flex(flex-start, flex-start, column);
	@include minimum-size(row-gap, 2rem, 6.25vw);
}

.reasons-list__item {
	@include flex(flex-start, flex-start, row);
	@include minimum-size(column-gap, 2rem, 6.25vw);
}

.reasons-list__checkmark {
	@extend %checkmark-icon;
	@include minimum-size(margin-top, 1.2rem, 3.75vw);
	flex-shrink: 0;
}

.reasons-list__checkmark--type--desktop {
	display: none;
}

.reasons-list__reason-text {
	text-align: left;
}

@include media(">=tablet") {
	.reasons-list {
		@include minimum-size(row-gap, 2rem, 2.604166666666667vw);
	}

	.reasons-list__item {
		@include minimum-size(column-gap, 2rem, 2.604166666666667vw);
	}

	.reasons-list__checkmark {
		@include minimum-size(width, 1.3rem, 1.6927083333333333vw);
		@include minimum-size(height, 1.1rem, 1.4322916666666665vw);
		@include minimum-size(margin-top, 1rem, 1.3020833333333335vw);
	}
}

@include media(">=desktop") {
	.reasons-list {
		@include minimum-size(row-gap, 1.0416666666666665vw);
		@include minimum-size(column-gap, 1.09375vw);
		@include flex(flex-start, flex-start, row);
		flex-wrap: wrap;
		width: 41.197916666666664vw;
		z-index: 2;
		position: relative;
	}

	.reasons-list__item {
		@include minimum-size(column-gap, 0.625vw);
		width: 19.791666666666664vw;

		&:nth-child(1) {
			order: 1;
		}

		&:nth-child(2) {
			order: 4;
		}

		&:nth-child(3) {
			order: 5;
		}

		&:nth-child(4) {
			order: 2;
		}

		&:nth-child(5) {
			order: 3;
		}
	}

	.reasons-list__checkmark {
		display: none;
	}

	.reasons-list__checkmark--type--desktop {
		display: block;
		@include minimum-size(width, 1.3020833333333335vw);
		@include minimum-size(height, 0.9375vw);
		@include minimum-size(margin-top, 0.15625vw);
		fill: none;
	}
}
