@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.request-form {
	@include minimum-size(margin-top, 3.8rem, 11.875vw);
	z-index: 2;
	position: relative;
}

.request-form__form-field {
	position: relative;
	overflow: hidden;
}

.request-form__input-label {
}

.request-form__person-name-input-label {
}

.request-form__input {
	font-family: var(--font-family-normal-400);
	@include minimum-size(font-size, var(--font-size-mobile-14), 4.375vw);
	@include minimum-size(line-height, 2rem, 6.25vw);
	@include minimum-size(width, 27.9rem, 87.1875vw);
	@include minimum-size(height, 5.1rem, 15.937499999999998vw);
	background-color: var(--color-accent-off-green);
	border-radius: 6.5rem;
	@include minimum-size(padding-left, 3.115rem, 9.734375vw);
	@include minimum-size(padding-right, 3.115rem, 9.734375vw);
	border: 0.15625vw solid var(--color-primary-white);
	border-width: 1.5625vw;
	appearance: none;
	outline: none;
	z-index: 20;
	transition: 0.5s background-color ease, 0.5s color ease, 0.5s border-color ease;

	&::placeholder {
		margin: 0;
		font-family: var(--font-family-normal-600);
		@include minimum-size(font-size, var(--font-size-mobile-14), 4.375vw);
		@include minimum-size(line-height, 2rem, 6.25vw);
		color: var(--color-accent-surf);
		opacity: 1;
	}

	&:hover {
		background-color: var(--color-primary-white);
		border-color: var(--color-accent-jade-green);
	}

	&:focus {
		border-color: var(--color-accent-jade-green);
	}

	&:focus::placeholder {
		opacity: 0;
	}
}

.request-form__person-name-input {
}

.request-form__person-phone-number-input-label {
}

.request-form__person-phone-number-input {
}

.request-form__button {
	@include minimum-size(margin-top, 1.1rem, 1.4322916666666665vw);
}

@include media(">=tablet") {
	.request-form {
		@include minimum-size(margin-top, 7.2rem, 9.375vw);
	}

	.request-form__form-field {
	}

	.request-form__input-label {
	}

	.request-form__person-name-input-label {
	}

	.request-form__input {
		@include minimum-size(font-size, var(--font-size-tablet-14), 1.8229166666666667vw);
		@include minimum-size(line-height, 2rem, 2.604166666666667vw);
		@include minimum-size(width, 40.3rem, 52.473958333333336vw);
		@include minimum-size(height, 6.7rem, 8.723958333333332vw);
		@include minimum-size(padding-left, 4.5rem, 5.859375vw);
		@include minimum-size(padding-right, 4.5rem, 5.859375vw);
		border: 0.06510416666666666vw solid var(--color-primary-white);
		border-width: 0.6510416666666667vw;

		&::placeholder {
			@include minimum-size(font-size, var(--font-size-tablet-14), 1.8229166666666667vw);
			@include minimum-size(line-height, 2rem, 2.604166666666667vw);
		}

		&:hover {
		}

		&:focus {
		}

		&:focus::placeholder {
		}
	}

	.request-form__person-name-input {
	}

	.request-form__person-phone-number-input-label {
	}

	.request-form__person-phone-number-input {
	}

	.request-form__button {
		@include minimum-size(margin-top, 0);
	}
}

@include media(">=desktop") {
	.request-form {
		@include minimum-size(margin-top, 3.3854166666666665vw);
	}

	.request-form__form-field {
	}

	.request-form__input-label {
	}

	.request-form__person-name-input-label {
	}

	.request-form__input {
		@include minimum-size(font-size, 0.7291666666666666vw);
		@include minimum-size(line-height, 1.0416666666666665vw);
		@include minimum-size(width, 20.989583333333332vw);
		@include minimum-size(height, 3.4895833333333335vw);
		@include minimum-size(padding-left, 2.34375vw);
		@include minimum-size(padding-right, 2.34375vw);
		border: 0.026041666666666668vw solid var(--color-primary-white);
		border-width: 0.26041666666666663vw;

		&::placeholder {
			@include minimum-size(font-size, 0.7291666666666666vw);
			@include minimum-size(line-height, 1.0416666666666665vw);
		}

		&:hover {
		}

		&:focus {
		}

		&:focus::placeholder {
		}
	}

	.request-form__person-name-input {
	}

	.request-form__person-phone-number-input-label {
	}

	.request-form__person-phone-number-input {
	}

	.request-form__button {
		margin: 0 !important;
	}
}
