@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.secondary-navigation {
}

.secondary-navigation__item {
	--secondary-navigation-link-opacity: 0;
	--secondary-navigation-link-transform: translateY(10px);
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.15rem;
		opacity: var(--secondary-navigation-link-opacity);
		transform: var(--secondary-navigation-link-transform);
		background-color: #fff;
	}

	&:hover::after,
	&:focus::after {
		opacity: var(--secondary-navigation-link-opacity);
		transform: var(--secondary-navigation-link-transform);
	}
}

.secondary-navigation__link {
}

@include media(">=tablet") {
	.secondary-navigation__link {
		@include minimum-size(font-size, 1.34rem, 1.7447916666666667vw);
	}
}

@include media(">=desktop") {
	.secondary-navigation__link {
		@include minimum-size(font-size, 0.7291666666666666vw);
	}
}
