@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px,
	desktop-large: 1550px
);

.container {
	margin-left: 4.375vw;
	margin-right: 4.375vw;
}

@include media(">=tablet") {
	.container {
		margin-left: 14.453125vw;
		margin-right: 14.453125vw;
	}
}

@include media(">=desktop") {
	.container {
		// margin-left: 25.161290322580644vw;
		// margin-right: 25.161290322580644vw;
		margin-left: 20.3125vw;
		margin-right: 20.3125vw;
	}
}

@include media(">=desktop-large") {
	.container {
		margin-left: 20.3125vw;
		margin-right: 20.3125vw;
	}
}
