$padding-left: 9.8rem;
$padding-right: 9.8rem;

.container {
	// position: relative;
	max-width: calc(117rem + (9.8rem * 2));
	margin: 0 auto;
	padding-left: $padding-left;
	padding-right: $padding-right;
}
