@use "../abstracts/mixins" as *;

$body-background-color: var(--color-primary-white);

body {
	position: relative;
	font-family: var(--font-family-normal-400);
	font-size: var(--font-size-desktop-16);
	font-weight: 400;
	font-style: normal;
	background-image: url("../images/header-background-mobile@1x.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100vw auto;
	background-color: $body-background-color;
	@include retina-image("../images/header-background-mobile@2x.png");

	// also add sizes for leafs in mobile !
}

.webp body {
	background-image: url("../images/header-background-mobile@1x.webp");
	@include retina-image("../images/header-background-mobile@2x.webp");
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
