// block-name__elem-name--mod-name--mod-val
body {
	font-family: var(--ff-normal-400);
	font-size: var(--fs-1366-16);
	color: var(--clr-primary-darkBlueGrey);
	background-color: var(--clr-neutral-paleGrey);
	font-weight: 400;
	font-style: normal;
	min-width: calc(117rem + (9.8rem * 2)); // To fix website size
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
