@font-face {
	font-family: Lato-Regular;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Lato-Medium;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Lato-Bold;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
