@font-face {
	font-family: NotoSans-Regular;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: NotoSans-Medium;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/NotoSans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: NotoSans-SemiBold;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: NotoSans-Italic;
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/NotoSans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: NotoSans-MediumItalic;
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/NotoSans/NotoSans-MediumItalic.ttf") format("truetype");
}
