@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1920px
);

.text {
}

.text__main-title {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-25), 7.8125vw);
	@include minimum-size(line-height, 2.6rem, 8.125vw);
}

.text__regular-text--text-weight--regular {
	font-family: var(--font-family-normal-400);
	@include minimum-size(font-size, var(--font-size-mobile-14), 4.375vw);
	@include minimum-size(line-height, 1.7rem, 5.3125vw);
}

.text__regular-text--text-weight--regular-small {
	font-family: var(--font-family-normal-400);
	@include minimum-size(font-size, var(--font-size-mobile-12), 3.75vw);
	@include minimum-size(line-height, 1.4rem, 4.375vw);
}

.text__regular-text--text-weight--medium {
	font-family: var(--font-family-normal-500);
	@include minimum-size(font-size, var(--font-size-mobile-16), 5vw);
	@include minimum-size(line-height, 2.2rem, 6.875vw);
	font-weight: 500;
}

.text__regular-text--text-weight--semibold {
	font-family: var(--font-family-normal-600);
	@include minimum-size(font-size, var(--font-size-mobile-14), 4.375vw);
	@include minimum-size(line-height, 2rem, 6.25vw);
}

.text__regular-text--text-weight--bold {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-14), 4.375vw);
	@include minimum-size(line-height, 2rem, 6.25vw);
}

.text__regular-text--text-color--baltic-sea {
	color: var(--color-neutral-baltic-sea);
}

.text__regular-text--text-color--white {
	color: var(--color-primary-white);
}

.text__regular-text--text-color--black {
	color: var(--color-primary-black);
}

.text__regular-text--text-color--grey-teal {
	color: var(--color-accent-grey-teal);
}

.text__medium-text--text-weight--bold {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-18), 5.625vw);
	@include minimum-size(line-height, 1.9rem, 5.9375vw);
}

.text__medium-text--text-weight--medium {
	font-family: var(--font-family-normal-500);
	@include minimum-size(font-size, var(--font-size-mobile-20), 6.25vw);
	@include minimum-size(line-height, 2.8rem, 8.75vw);
}

.text__medium-text--text-color--white {
	color: var(--color-primary-white);
}

.text__bold-text--text-weight--bold {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-16), 5vw);
	@include minimum-size(line-height, 1.9rem, 5.9375vw);
}

.text__bold-text--text-color--black {
	color: var(--color-primary-black);
}

.text__section-title {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-22), 6.875000000000001vw);
	@include minimum-size(line-height, 2.6rem, 8.125vw);
}

.text__section-title--text-color--white {
	color: var(--color-primary-white);
}

.text__section-title--text-color--jade-green {
	color: var(--color-accent-jade-green);
}

.text__subsection-title {
	font-family: var(--font-family-normal-700);
	@include minimum-size(font-size, var(--font-size-mobile-16), 5vw);
	@include minimum-size(line-height, 1.9rem, 5.9375vw);
}

.text__subsection-title--text-color--black {
	color: var(--color-primary-black);
}

.text--style--underlined {
	position: relative;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		border-bottom: 0.1rem solid var(--color-primary-black);
		display: block;
		bottom: -0.2rem;
		left: 0;
		width: 100%;
		height: auto;
	}
}

@include media(">=tablet") {
	.text__regular-text--text-weight--semibold {
		@include minimum-size(font-size, var(--font-size-tablet-14), 1.8229166666666667vw);
		@include minimum-size(line-height, 2rem, 2.604166666666667vw);
	}

	.text__main-title {
		@include minimum-size(font-size, var(--font-size-tablet-32), 4.166666666666666vw);
		@include minimum-size(line-height, 3.4rem, 4.427083333333334vw);
	}

	.text__regular-text--text-weight--medium {
		@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
		@include minimum-size(line-height, 2.5rem, 3.2552083333333335vw);
	}

	.text__regular-text--text-weight--bold {
		@include minimum-size(font-size, var(--font-size-tablet-14), 1.8229166666666667vw);
		@include minimum-size(line-height, 2rem, 2.604166666666667vw);
	}

	.text__section-title {
		@include minimum-size(font-size, var(--font-size-tablet-41), 5.338541666666666vw);
		@include minimum-size(line-height, 4.8rem, 6.25vw);
	}

	.text__medium-text--text-weight--medium {
		@include minimum-size(font-size, var(--font-size-tablet-20), 2.604166666666667vw);
		@include minimum-size(line-height, 2.8rem, 3.6458333333333335vw);
	}

	.text__subsection-title {
		@include minimum-size(font-size, var(--font-size-tablet-20), 2.604166666666667vw);
		@include minimum-size(line-height, 2.4rem, 3.125vw);
	}

	.text__bold-text--text-weight--bold {
		@include minimum-size(font-size, var(--font-size-tablet-20), 2.604166666666667vw);
		@include minimum-size(line-height, 2.4rem, 3.125vw);
	}

	.text__regular-text--text-weight--regular {
		@include minimum-size(font-size, var(--font-size-tablet-18), 2.34375vw);
		@include minimum-size(line-height, 2.1rem, 2.734375vw);
	}

	.text__regular-text--text-weight--regular-small {
		@include minimum-size(font-size, var(--font-size-tablet-12), 1.5625vw);
		@include minimum-size(line-height, 1.4rem, 1.8229166666666667vw);
	}
}

@include media(">=desktop") {

}
