.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: 87.5vw;
	transform: translate(-50%, -50%);
	background-color: white;
	box-sizing: border-box;
	border-radius: 3rem;
	box-shadow: rgba(0, 0, 0, 16%) 0 10px 36px 0, rgba(0, 0, 0, 6%) 0 0 0 1px;
	padding-top: 10.75vw;
	padding-bottom: 10.75vw;
	padding-left: 7.25vw;
	padding-right: 7.25vw;
}

.modal__underlay {
	background-color: rgba(0, 0, 0, 58%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 810;
	display: none;
}

.modal__header {
	margin-bottom: 6vw;
	margin-top: 6vw;
}

.modal__title {
	font-size: 7.8125vw;
	text-align: center;
}

.modal-form__field {
	margin-bottom: 3.4vw;
}

.modal-form__input {
	width: 100%;
}

.modal-form__submit-button {
	width: 100%;
	margin-top: 6.25vw;
}

.modal__close-button {
	position: absolute;
	top: 3.75vw;
	right: 3.75vw;
	cursor: pointer;
}

.modal__close-button-icon {
	--modal-close-button-icon-background-color: rgba(0, 0, 0, 0.15);
	width: 10.375vw;
	height: 10.375vw;
	color: var(--modal-close-button-icon-background-color);
	transition: 0.15s color ease;

	&:hover {
		color: var(--modal-close-button-icon-background-color);
	}
}

@media only screen and (min-width: 768px) {
	.modal {
		width: 48.458333vw;
		padding-top: 1.8125vw;
		padding-bottom: 6.8125vw;
		padding-left: 4.604167vw;
		padding-right: 4.604167vw;
	}

	.modal__header {
		margin-bottom: 3.90625vw;
	}

	.modal__title {
		font-size: 3.2552083333333335vw;
	}

	.modal-form__field {
		margin-bottom: 1.3020833333333335vw;
	}

	.modal-form__submit-button {
		margin-top: 2.604166666666667vw;
	}

	.modal__close-button {
		top: 1.5625vw;
		right: 1.5625vw;
	}

	.modal__close-button-icon {
		width: 3.90625vw;
		height: 3.90625vw;
	}
}

@media only screen and (min-width: 1024px) {
	.modal {
		width: 20.34375vw;
		padding-top: 0.859375vw;
		padding-bottom: 4.859375vw;
		padding-left: 0.953125vw;
		padding-right: 0.953125vw;
	}

	.modal__header {
		margin-bottom: 1.929688vw;
		margin-top: 4vw;
	}

	.modal__title {
		font-size: 1.8vw;
	}

	.modal-form__field {
		margin-bottom: 0.9765625vw;
	}

	.modal-form__submit-button {
		margin-top: 1.953125vw;
	}

	.modal__close-button {
		top: 1.171875vw;
		right: 1.171875vw;
	}

	.modal__close-button-icon {
		width: 2.5vw;
		height: 2.5vw;
	}
}
