.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: 87.5vw;
	transform: translate(-50%, -50%);
	background-color: white;
	box-sizing: border-box;
	border-radius: 3rem;
	box-shadow: rgba(0, 0, 0, 16%) 0 10px 36px 0, rgba(0, 0, 0, 6%) 0 0 0 1px;
	padding-top: 18.75vw;
	padding-bottom: 18.75vw;
	padding-left: 6.25vw;
	padding-right: 6.25vw;
}

.modal__underlay {
	background-color: rgba(0, 0, 0, 58%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 810;
	display: none;
}

.modal__header {
	margin-bottom: 9.375vw;
}

.modal__title {
	font-size: 7.8125vw;
	text-align: center;
}

.modal__content {
}

.modal-form__field {
	margin-bottom: 3.125vw;
}

.modal-form__input {
	width: 100%;
}

.modal-form__submit-button {
	width: 100%;
	margin-top: 6.25vw;
}

.modal__close-button {
	position: absolute;
	top: 3.75vw;
	right: 3.75vw;
	cursor: pointer;
}

.modal__close-button-icon {
	width: 9.375vw;
	height: 9.375vw;
	color: rgba(0,0,0,0.15);
	transition: 0.15s color ease;

	&:hover {
		color: rgb(172, 10, 10);
		transition: 0.25s color ease;
	}
}

@media only screen and (min-width: 768px) {
	.modal {
		width: 36.45833333333333vw;
		padding-top: 7.8125vw;
		padding-bottom: 7.8125vw;
		padding-left: 2.604166666666667vw;
		padding-right: 2.604166666666667vw;
	}

	.modal__header {
		margin-bottom: 3.90625vw;
	}

	.modal__title {
		font-size: 3.2552083333333335vw;
	}

	.modal-form__field {
		margin-bottom: 1.3020833333333335vw;
	}

	.modal-form__submit-button {
		margin-top: 2.604166666666667vw;
	}

	.modal__close-button {
		top: 1.5625vw;
		right: 1.5625vw;
	}

	.modal__close-button-icon {
		width: 3.90625vw;
		height: 3.90625vw;
	}
}

@media only screen and (min-width: 1024px) {
	.modal {
		width: 27.34375vw;
		padding-top: 5.859375vw;
		padding-bottom: 5.859375vw;
		padding-left: 1.953125vw;
		padding-right: 1.953125vw;
	}

	.modal__header {
		margin-bottom: 2.9296875vw;
	}

	.modal__title {
		font-size: 2.44140625vw;
	}

	.modal-form__field {
		margin-bottom: 0.9765625vw;
	}

	.modal-form__submit-button {
		margin-top: 1.953125vw;
	}

	.modal__close-button {
		top: 1.171875vw;
		right: 1.171875vw;
	}

	.modal__close-button-icon {
		width: 2.9296875vw;
		height: 2.9296875vw;
	}
}
