$colors: (
	primary: (
		"black": hsl(0, 0%, 0%), // #000000
		"white": hsl(0, 0%, 100%), // #FFFFFF
		),
	secondary: (
		"pattens-blue": hsl(202, 94%, 94%), // #E0F3FE
		),
	accent: (
		"jade-green": hsl(145, 63%, 42%), // #27AE60
		"medium-sea-green": hsl(145, 55%, 46%), // #35B86C
		"grey-teal": hsl(145, 18%, 51%), // #6C997F
		"off-green": hsl(144, 48%, 94%), // #E8F7EE
		"surf": hsl(144, 35%, 78%), // #B2DAC2
		"medium-sea-green-transparent": hsla(145, 63%, 42%, 0.2), // rgba(40, 175, 96, 0.2)
	),
	neutral: (
		"baltic-sea": hsl(0, 0%, 17%), // #2B2B2B
		"pale-slate": hsl(0, 0%, 75%), // #BFBFBF
		"cyan-cornflower-blue": hsla(202, 77%, 42%, 0.11), // rgba(25, 130, 189, 0.11)
		"pewter-blue": hsla(109, 100%, 19%, 0.212), // rgba(18, 97, 0, 0.212)
		"eerie-black": hsla(0, 0%, 12%, 0.071), // rgba(31, 31, 31, 0.071)
		"cyan-cornflower-blue-transparent": hsla(202, 77%, 42%, 0.18), // rgba(25, 129, 190, 0.18);
	),
	accent-hover: (
		"medium-aquamarine": hsl(145, 56%, 66%), // #7ad9a2
	)
);
