$colors: (
	primary: (
		"nileBlue": hsl(213deg 58% 20%),
		"darkBlueGrey": hsl(213deg 35% 24%),
		"darkBlueGreyHalfTransparent": hsla(213, 35%, 24%, 0.502),
		"darkBlueGreyHalfTransparent2": hsla(213, 35%, 24%, 0.4),
		"nileBlueHalfTransparent": hsla(213, 58%, 20%, 0.15),
		"nileBlueHalfTransparent2": hsla(213, 58%, 20%, 0.4),
		"nileBlueHalfTransparent3": hsla(213, 58%, 20%, 0.1)
		),
	secondary: (
		"whiteSmoke": hsl(240deg 11% 96%),
		),
	accent: (
		"darkTurquoise": hsl(177deg 100% 39%),
		"lightCyan": hsl(173, 85%, 92%),
		"viridianGreen": hsl(177, 100%, 30%)
	),
	neutral: (
		"paleGrey": hsl(240deg 100% 100%),
		"platinum": hsl(0, 0%, 90%),
		"cultured": hsl(240, 33%, 97%)
	),
	background: (
		"nileBlueTransparent": hsla(213, 58%, 20%, 0.3)
	),
	hover: (
		"darkTurquoiseHover": hsl(177, 100%, 34%)
	)
);
