@use "mixins" as *;

%checkmark-icon {
	fill: none;
	color: var(--color-secondary-pattens-blue);
	@include minimum-size(width, 1.3rem, 4.0625vw);
	@include minimum-size(height, 1.1rem, 3.4375000000000004vw);
}

%icon-circle {
	position: relative;
	@include minimum-size(width, 3.6rem, 11.25vw);
	@include minimum-size(height, 3.6rem, 11.25vw);
	background-color: var(--color-primary-white);
	border-radius: 50%;
	box-shadow: 0 0.4rem 3.5rem var(--color-neutral-cyan-cornflower-blue-transparent);
}

%green-circle {
	@include minimum-size(width, 5.3rem, 6.901041666666667vw);
	@include minimum-size(height, 5.3rem, 6.901041666666667vw);
	border-radius: 50%;
	background-color: var(--color-accent-jade-green);
}
