$type-scale: (
	mobile: (
		12: 1.2rem,
		14: 1.4rem,
		16: 1.6rem,
		18: 1.8rem,
		20: 2rem,
		22: 2.2rem,
		25: 2.5rem,
	),
	tablet: (
		12: 1.2rem,
		14: 1.4rem,
		15: 1.5rem,
		16: 1.6rem,
		18: 1.8rem,
		20: 2rem,
		41: 4.1rem,
	),
	desktop: (
		14: 1.4rem,
		16: 1.6rem,
		18: 1.8rem,
		20: 2rem,
		41: 4.1rem,
		50: 5rem,
	)
);
