@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

$delivery-advantages-section-background-color: var(--color-primary-white);

.delivery-advantages {
	background-color: $delivery-advantages-section-background-color;
}

.delivery-advantages__wrapper {
	position: relative;
}

.delivery-advantages__title {
	text-align: left;
}

.delivery-advantages__mother-and-child-parallax-image {
	z-index: 1;
}

.delivery-advantages__content {
	position: relative;
	z-index: 2;
	@include minimum-size(margin-top, -4rem, -12.5vw);
}

.delivery-advantages__advantages-list {
	@include flex(flex-start, flex-start, column);
	@include minimum-size(row-gap, 2.5rem, 7.8125vw);
}

@include media(">=tablet") {
	.delivery-advantages__content {
		@include minimum-size(margin-top, 0);
	}

	.delivery-advantages__advantages-list {
		@include minimum-size(row-gap, 3.7rem, 4.817708333333334vw);
	}
}

@include media(">=desktop") {
	.delivery-advantages__content {
		margin-top: 7.291666666666667vw;
		display: grid;
		grid-template-columns: 32.29166666666667vw 26.614583333333336vw;
		grid-template-rows: auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
	}

	.delivery-advantages__advantages-list {
		@include minimum-size(row-gap, 1.9270833333333335vw);
		grid-column: 2 / 3;
	}

	.delivery-advantages__title {
		grid-column: 2 / 3;
	}
}
