@use "../abstracts/mixins" as *;

// $header-background-color: var(--color-primary-white);
$header-background-color: transparent;
$space-top: 10.9375vw;
$space-bottom: 16.5625vw;

.header {
	padding-top: $space-top;
	padding-bottom: $space-bottom;
	background-color: $header-background-color;
	position: relative;
}

.header__wrapper {
	@include flex(center, space-between, row);
}

.header__navigation {
}
