@use "../abstracts/mixins" as *;

$header-background-color: transparent;

.header {
	@include minimum-size(padding-top, 3.5rem, 10.9375vw);
	@include minimum-size(padding-bottom, 5.3rem, 16.5625vw);
	background-color: $header-background-color;
	position: relative;
}

.header__wrapper {
	@include flex(center, space-between, row);
}

.header__navigation {
}
