@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

$header-background-color: transparent;

.header {
	@include minimum-size(padding-top, 3.5rem, 10.9375vw);
	@include minimum-size(padding-bottom, 5.3rem, 16.5625vw);
	background-color: $header-background-color;
	position: relative;
}

.header__wrapper {
	@include flex(center, space-between, row);
}

@include media(">=tablet") {
	.header {
		@include minimum-size(padding-top, 4.4rem, 5.729166666666666vw);
		padding-bottom: 0;
	}

	.header__wrapper {
		@include flex(flex-start, space-between, row);
	}
}

@include media(">=desktop") {
	.header {
		@include minimum-size(padding-top, 2.1354166666666665vw);
	}
}
