@use "../abstracts/mixins" as *;

// $hero-section-background-color: var(--color-primary-white);
$hero-section-background-color: transparent;

.hero {
	background-color: $hero-section-background-color;
	position: relative;
}

.hero__wrapper {
	@include flex(flex-start, flex-start, column);
}

.hero__main-content {
	@include flex(flex-start, flex-start, column);
}

.hero__main-title {
	text-align: center;
	margin-bottom: 7.187499999999999vw;
}

.hero__text {
	text-align: center;
	margin-bottom: 11.25vw;
	padding-left: 9.375vw;
	padding-right: 9.375vw;
}

.hero__button {
}

.hero__main-slider {
}

.hero__animated-dropping-leafs {
}
