@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

$instagram-images-section-background-color: var(--color-primary-white);

.instagram-images {
	background-color: $instagram-images-section-background-color;
	@include minimum-size(padding-top, 10.8rem, 33.75vw);
	overflow: hidden;
}

.instagram-images__wrapper {
}

.instagram-images__section-header {
	text-align: center;
}

.instagram-images__image-gallery {
	position: relative;
}

.instagram-images__link {
	position: relative;
	width: auto;
	display: inline-block;
	height: auto;
}

@include media(">=tablet") {
	.instagram-images {
		@include minimum-size(padding-top, 22.6rem, 29.427083333333332vw);
	}
}

@include media(">=desktop") {
	.instagram-images {
		@include minimum-size(padding-top, 6.5625vw);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			display: block;
			top: 14.6875vw;
			left: 0;
			background: linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
				url("../images/instagram-section-background-pattern@1x.png");
			mix-blend-mode: multiply;
			opacity: 0.12;
			width: 50.72916666666667vw;
			height: 50.9375vw;
			background-repeat: no-repeat;
			background-color: transparent;
			background-size: contain;
			@media (min--moz-device-pixel-ratio: 1.5),
				(-moz-device-pixel-ratio: 1.5),
				(-webkit-min-device-pixel-ratio: 1.5),
				(min-device-pixel-ratio: 1.5),
				(min-resolution: 1.5dppx),
				(min-resolution: 144dpi),
				(resolution: 144dpi) {
				background: linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
					url("../images/instagram-section-background-pattern@2x.png");
			}
		}
	}

	.webp .instagram-images::after {
		background-image: linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
			url("../images/instagram-section-background-pattern@1x.webp");
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		@media (min--moz-device-pixel-ratio: 1.5),
			(-moz-device-pixel-ratio: 1.5),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx),
			(min-resolution: 144dpi),
			(resolution: 144dpi) {
			background: linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
				url("../images/instagram-section-background-pattern@2x.webp");
		}
	}
}
