@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

$personalized-menu-request-section-background-color: var(--color-primary-white);

.personalized-menu-request {
	background-color: $personalized-menu-request-section-background-color;
	@include minimum-size(padding-top, 9.4rem, 29.375vw);
	@include minimum-size(padding-bottom, 7.6rem, 23.75vw);
}

.personalized-menu-request__section-header {
	text-align: center;
}

.personalized-menu-request__request-form {
	@include flex(center, center, column);
	@include minimum-size(row-gap, 1rem, 3.125vw);
}

@include media(">=tablet") {
	.personalized-menu-request {
		@include minimum-size(padding-top, 14.1rem, 18.359375vw);
		@include minimum-size(padding-bottom, 31.4rem, 40.88541666666667vw);
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: -18vw;
			left: 0;
			z-index: 1;
			background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
				linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
				url("../images/personalized-menu-request-section-background-pattern-tablet@1x.png");
			mix-blend-mode: multiply;
			opacity: 0.13;
			transform: rotate(-180deg);
			width: 100vw;
			height: 127.34375vw;
			background-repeat: no-repeat;
			background-color: transparent;
			background-size: contain;
			@media (min--moz-device-pixel-ratio: 1.5),
				(-moz-device-pixel-ratio: 1.5),
				(-webkit-min-device-pixel-ratio: 1.5),
				(min-device-pixel-ratio: 1.5),
				(min-resolution: 1.5dppx),
				(min-resolution: 144dpi),
				(resolution: 144dpi) {
				background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
					linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
					url("../images/personalized-menu-request-section-background-pattern-tablet@2x.png");
			}
		}
	}

	.webp .personalized-menu-request::after {
		background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
			linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
			url("../images/personalized-menu-request-section-background-pattern-tablet@1x.webp");
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		@media (min--moz-device-pixel-ratio: 1.5),
			(-moz-device-pixel-ratio: 1.5),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx),
			(min-resolution: 144dpi),
			(resolution: 144dpi) {
			background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
				linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
				url("../images/personalized-menu-request-section-background-pattern-tablet@2x.webp");
		}
	}

	.personalized-menu-request__request-form {
		@include minimum-size(row-gap, 2.2rem, 2.864583333333333vw);
	}
}

@include media(">=desktop") {
	.personalized-menu-request {
		@include minimum-size(padding-top, 8.333333333333332vw);
		@include minimum-size(padding-bottom, 8.958333333333334vw);

		&::after {
			top: -33.5vw;
			left: 51.979166666666664vw;
			background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
				linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
				url("../images/personalized-menu-request-section-background-pattern-desktop@1x.png");
			mix-blend-mode: multiply;
			opacity: 0.13;
			transform: rotate(-180deg);
			width: 48.020833333333336vw;
			height: 50.9375vw;
			background-repeat: no-repeat;
			background-color: transparent;
			background-size: contain;
			@media (min--moz-device-pixel-ratio: 1.5),
				(-moz-device-pixel-ratio: 1.5),
				(-webkit-min-device-pixel-ratio: 1.5),
				(min-device-pixel-ratio: 1.5),
				(min-resolution: 1.5dppx),
				(min-resolution: 144dpi),
				(resolution: 144dpi) {
				background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
					linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
					url("../images/personalized-menu-request-section-background-pattern-desktop@2x.png");
			}
		}
	}

	.webp .personalized-menu-request::after {
		background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
			linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
			url("../images/personalized-menu-request-section-background-pattern-desktop@1x.webp");
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		@media (min--moz-device-pixel-ratio: 1.5),
			(-moz-device-pixel-ratio: 1.5),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx),
			(min-resolution: 144dpi),
			(resolution: 144dpi) {
			background: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 17.59%),
				linear-gradient(314.5deg, #f6f9ff 35.34%, rgba(246, 249, 255, 0) 99.32%),
				url("../images/personalized-menu-request-section-background-pattern-desktop@2x.webp");
		}
	}

	.personalized-menu-request__request-form {
		@include flex(center, center, row);
		@include minimum-size(row-gap, 0);
		@include minimum-size(column-gap, 0.8854166666666666vw);
	}
}
