@use "../abstracts/mixins" as *;
@use "../vendors/include-media" as *;

$background-color-section-reasons-eat-properly: var(--color-accent-jade-green);

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px
);

.reasons-eat-properly {
	background-color: $background-color-section-reasons-eat-properly;
	@include minimum-size(padding-top, 5.7rem, 17.8125vw);
	position: relative;
}

.reasons-eat-properly__wrapper {
	@include flex(center, center, column-reverse);
}

.reasons-eat-properly__lead-nutritionist {
}

.reasons-eat-properly__main-reasons {
	@include minimum-size(padding-bottom, 2.9rem, 9.0625vw);
}

.reasons-eat-properly__section-title {
	@include minimum-size(padding-bottom, 3.9rem, 12.1875vw);
	@include minimum-size(padding-left, 2.2rem, 6.875000000000001vw);
	text-align: left;
}

.reasons-eat-properly__reasons-list {
	@include minimum-size(padding-left, 1.5rem, 4.6875vw);
}

.reasons-eat-properly__animated-dropping-leafs-mobile {
	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(1) {
		position: absolute;
		@include minimum-size(top, 69rem, 215.625vw);
		@include minimum-size(left, 26rem, 81.25vw);

		.animated-dropping-leafs__animated-leaf {
			@include minimum-size(height, 4.708rem, 14.7125vw);
			@include minimum-size(width, 3.696rem, 11.55vw);
			object-fit: cover;
		}
	}

	.animated-dropping-leafs__animated-leaf-wrapper:nth-child(2) {
		position: absolute;
		@include minimum-size(top, 74rem, 231.25vw);
		@include minimum-size(left, -2rem, -6.25vw);
		z-index: 1;

		.animated-dropping-leafs__animated-leaf {
			@include minimum-size(height, 7.004rem, 21.887500000000003vw);
			@include minimum-size(width, 8.921rem, 27.878124999999997vw);
			object-fit: cover;
		}
	}
}

.reasons-eat-properly__animated-dropping-leafs-desktop {
	display: none;
}

.reasons-eat-properly__animated-dropping-leafs-tablet {
	display: none;
}

@include media(">=tablet") {
	.reasons-eat-properly {
		@include minimum-size(padding-top, 5rem, 6.510416666666667vw);
		background-image: url("../images/reasons-eat-properly-section-decorative-background-image-circle1.svg");
		background-position: 55.338541666666664vw 72.265625vw;
		background-repeat: no-repeat;
		background-size: 65.625vw 65.625vw;
	}

	.reasons-eat-properly__main-reasons {
		padding-bottom: 0;
	}

	.reasons-eat-properly__section-title {
		@include minimum-size(padding-bottom, 4rem, 5.208333333333334vw);
		@include minimum-size(padding-left, 7.9rem, 10.286458333333332vw);
	}

	.reasons-eat-properly__reasons-list {
		@include minimum-size(padding-left, 9.8rem, 12.760416666666666vw);
	}

	.reasons-eat-properly__animated-dropping-leafs-mobile {
		display: none;
	}

	.reasons-eat-properly__animated-dropping-leafs-desktop {
		display: none;
	}

	.reasons-eat-properly__animated-dropping-leafs-tablet {
		display: block;

		.animated-dropping-leafs__animated-leaf-wrapper:nth-child(1) {
			position: absolute;
			@include minimum-size(top, 79rem, 102.86458333333333vw);
			@include minimum-size(left, 51rem, 66.40625vw);

			.animated-dropping-leafs__animated-leaf {
				@include minimum-size(height, 5.309rem, 6.912760416666668vw);
				@include minimum-size(width, 6.762rem, 8.804687500000002vw);
				object-fit: cover;
			}
		}

		.animated-dropping-leafs__animated-leaf-wrapper:nth-child(2) {
			position: absolute;
			@include minimum-size(top, 85rem, 110.67708333333333vw);
			@include minimum-size(left, 14rem, 18.229166666666664vw);
			z-index: 1;

			.animated-dropping-leafs__animated-leaf {
				@include minimum-size(height, 10.06rem, 13.098958333333332vw);
				@include minimum-size(width, 12.813rem, 16.68359375vw);
				object-fit: cover;
			}
		}
	}
}

@include media(">=desktop") {
	.reasons-eat-properly {
		@include minimum-size(padding-top, 0);
		background-image: unset;
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			background-color: transparent;
			background-image: linear-gradient(79.46deg, #f6f9ff 8.32%, rgba(255, 255, 255, 0) 82.9%),
				url("../images/reasons-eat-properly-section-background-pattern@1x.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 35vw;
			height: 19.6875vw;
			mix-blend-mode: multiply;
			opacity: 0.1;
			height: 100%;
			z-index: 3;
			@media (min--moz-device-pixel-ratio: 1.5),
				(-moz-device-pixel-ratio: 1.5),
				(-webkit-min-device-pixel-ratio: 1.5),
				(min-device-pixel-ratio: 1.5),
				(min-resolution: 1.5dppx),
				(min-resolution: 144dpi),
				(resolution: 144dpi) {
				background-image: linear-gradient(
						79.46deg,
						#f6f9ff 8.32%,
						rgba(255, 255, 255, 0) 82.9%
					),
					url("../images/reasons-eat-properly-section-background-pattern@2x.png");
			}
		}
	}

	.webp .reasons-eat-properly::after {
		background-image: linear-gradient(79.46deg, #f6f9ff 8.32%, rgba(255, 255, 255, 0) 82.9%),
			url("../images/reasons-eat-properly-section-background-pattern@1x.webp");
		@media (min--moz-device-pixel-ratio: 1.5),
			(-moz-device-pixel-ratio: 1.5),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx),
			(min-resolution: 144dpi),
			(resolution: 144dpi) {
			background-image: linear-gradient(79.46deg, #f6f9ff 8.32%, rgba(255, 255, 255, 0) 82.9%),
				url("../images/reasons-eat-properly-section-background-pattern@2x.webp");
		}
	}

	.reasons-eat-properly__wrapper {
		@include flex(center, center, row);
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 6.5625vw;
			right: -32.03125vw;
			background-image: url("../images/half-circle-bottom.svg");
			background-repeat: no-repeat;
			background-size: contain;
			width: 26.25vw;
			height: 26.25vw;
			z-index: 1;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 5.9375vw;
			left: -29.5vw;
			background-image: url("../images/half-circle-top.svg");
			background-repeat: no-repeat;
			background-size: contain;
			width: 26.25vw;
			height: 26.25vw;
			z-index: 1;
		}
	}

	.reasons-eat-properly__main-reasons {
		padding-bottom: 0;
	}

	.reasons-eat-properly__section-title {
		@include minimum-size(padding-bottom, 2.96875vw);
		@include minimum-size(padding-left, 0);
	}

	.reasons-eat-properly__reasons-list {
		@include minimum-size(padding-left, 0);
	}

	.reasons-eat-properly__animated-dropping-leafs-mobile {
		display: none;
	}

	.reasons-eat-properly__animated-dropping-leafs-desktop {
		display: block;

		.animated-dropping-leafs__animated-leaf-wrapper:nth-child(1) {
			position: absolute;
			@include minimum-size(top, 16.25vw);
			@include minimum-size(left, -5.208333333333334vw);
			z-index: 2;

			.animated-dropping-leafs__animated-leaf {
				@include minimum-size(height, 6.096875vw);
				@include minimum-size(width, 7.765104166666667vw);
				object-fit: cover;
			}
		}

		.animated-dropping-leafs__animated-leaf-wrapper:nth-child(2) {
			position: absolute;
			@include minimum-size(top, 11.458333333333332vw);
			@include minimum-size(left, 17.708333333333336vw);
			z-index: 4;

			.animated-dropping-leafs__animated-leaf {
				@include minimum-size(height, 3.2171875vw);
				@include minimum-size(width, 4.097916666666667vw);
				object-fit: cover;
			}
		}
	}

	.reasons-eat-properly__animated-dropping-leafs-tablet {
		display: none;
	}
}
