.mobile-navigation {
	display: block;
	margin-top: 50vw;
}

.mobile-navigation__underlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-accent-jade-green);
    width: 100vw;
    height: 100vh;
    z-index: 90;
    display: none;
}

.mobile-navigation__content {
    position: relative;
    background-color: var(--clr-secondary-snow-white2);
    z-index: 90;
    padding-top: 7.5rem;
    padding-bottom: 3.5rem;
    display: none;
}

.mobile-navigation__item {
	text-align: center;
	padding-top: 5vw;
}

