.invalid-input {
	background-color: var(--color-accent-off-red);

	&:hover,
	&:focus {
		border-color: var(--color-accent-jade-red);
		background-color: var(--color-accent-off-red);
	}

	&::placeholder {
		color: var(--color-accent-red-surf);
	}
}
