.spinner {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}

.spinner__image {
	background: url("../../../images/spinner.svg") no-repeat center;
	width: 54px; //
	height: 54px; //
	display: inherit;
	fill: none;
	color: white;
}

.invalid-input {
	background-color: var(--color-accent-off-red);

	&:hover,
	&:focus {
		border-color: var(--color-accent-jade-red);
		background-color: var(--color-accent-off-red);
	}

	&::placeholder {
		color: var(--color-accent-red-surf);
	}
}

.snack-bar {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.snack-bar__toast {
	width: 260px;
	height: 60px;
	background-color: red;
	display: block;
}
