.spinner {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	color: red;
}

.spinner__image {
	background: url("../../../images/spinner.svg") no-repeat center;
	width: 50px; //
	height: 50px; //
	display: inherit;
	color: red;
	fill: red;
}
