.tooltip {
	display: none;
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
	background-color: hsl(0deg, 0%, 0%);;
	border-radius: 1rem;
	width: 140px;
	padding: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	z-index: 1;
	pointer-events: none;
	// user-select: none;
	color: #FFF;

	&::after {
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		background-color: hsl(0deg, 0%, 0%);;
		position: absolute;
		bottom: -14%;
		left: 50%;
		z-index: -1;
		transform: translateX(-50%) rotate(45deg);
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	}
}
