.invalid-input {
	background-color: var(--color-accent-off-red) !important;

	&:hover,
	&:focus {
		border-color: var(--color-accent-jade-red) !important;
		background-color: var(--color-accent-off-red) !important;
	}

	&::placeholder {
		color: var(--color-accent-red-surf) !important;
	}
}
