.spinner {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}

.spinner__image {
	background: url("../../../../images/spinner.svg") no-repeat center;
	width: 5.4rem;
	height: 5.4rem;
	display: inherit;
	fill: none;
	color: white;
}
